<div class="single-product-images">
    <div id="single-product-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
            {{#each product.images}}
                <div class="item{{#if @first}} active{{/if}}">
                    <img src="{{this}}" class="img-responsive">
                </div>
            {{/each}}
        </div>
    </div>

    <div class="col-sm-12 carousel-wrapper">
        <!-- Controls -->
        <div class="controls control-prev hidden-xs">
            <a class="btn btn-carousel owl-prev" href="#">
                <i class="fa fa-caret-left"></i>
            </a>
        </div>
        <!-- Controls -->
        <div class="controls control-next hidden-xs">
            <a class="btn btn-carousel owl-next" href="#">
                <i class="fa fa-caret-right"></i>
            </a>
        </div>
        <div class="product-carousel owl-carousel product-thumbnails">
            <!-- Wrapper for slides -->
            {{#each product.thumbnails}}
                <div class="thumbnail" data-target="#single-product-carousel" data-slide-to="{{@index}}">
                    <img src="{{img}}" class="img-responsive">
                </div>
            {{/each}}
        </div>
    </div>
    <!-- /thumbcarousel -->
</div>