<div class="single-product-info">
    <div class="heading">Save R300</div>
    <div class="body">
        <div class="price">{{product.price}}</div>
        <div class="details">
            <span class="vat-price">{{product.price_vat}}</span>
            <span>Product code: {{product.code}}</span>
            <span>Manufacturer: {{product.manufacturer}}</span>
            <span class="stock"><span>{{product.stock}}</span> in stock</span>
        </div>
    </div>
    <div class="footer">{{>controls/cart/spinner_stacked}}</div>
</div>