<div class="single-product-related-products hidden-xs">
    <h4>Related Products</h4>
    <hr>
    <div class="row">
        {{#each product.related_products}}
            {{>search/result_4_col}}
        {{/each}}
    </div>
</div>