<div class="single-product-tech-specs">
    <h4>Technical Specifications</h4>
    <div class="table-responsive">
    <table class="table table-striped  table-condensed table-bordered">
        {{#each product.technical_specs}}
            <tr>
                <th>{{label}}</th>
                <td>{{value}}</td>
            </tr>
        {{/each}}
    </table>
    </div>
    <!-- /.table-responsive -->
</div>
