<form class="form-inline form-quick-add">

    <div class="form-group form-group-lg">
        <label for="quick-add-prodcode">Look Up Product Code</label>
        <div class="dropdown">
            <input type="text" class="form-control" id="quick-add-prodcode">
            <div class="dropdown-menu quick-add-autocomplete" role="menu">
                <ul>
                    {{#each quick_add_products}}
                        <li data-product-title="{{title}}" data-product-price="{{price}}">
                            <div>{{code}}</div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <!-- /.dropdown -->
    </div>
    <!-- /.form-group -->

    <div class="form-group form-group-lg">
        <span class="arrow hidden-md hidden-sm hidden-xs"><i class="fa fa-angle-right"></i></span>
        <span class="arrow down hidden-lg hidden-xl"><i class="fa fa-angle-down"></i></span>
    </div>
    <!-- /.form-group -->

    <div class="form-group form-group-lg">
        <label for="quick-add-quantity">Add Quantity</label>
        <input type="text" class="form-control quantity" id="quick-add-quantity" placeholder="1">
    </div>
    <!-- /.form-group -->

    <div class="form-group form-group-lg">
        <span class="arrow hidden-md hidden-sm hidden-xs"><i class="fa fa-angle-right"></i></span>
        <span class="arrow down hidden-lg hidden-xl"><i class="fa fa-angle-down"></i></span>
    </div>
    <!-- /.form-group -->

    <div class="form-group form-group-lg">
        <label for="quick-add-product-title">Price R</label>

        <div class="input-group">
            <div class="input-group-addon" id="quick-add-product-price">0.00</div>
            <input type="text" class="form-control" id="quick-add-product-title" placeholder="">
                            <span class="input-group-btn">
                                <button class="{{ quick_add_button.class }}" type="button"><span
                                        class="glyphicon glyphicon-plus"></span> {{{ quick_add_button.label }}}</button>
                            </span>
        </div>
    </div>
    <!-- /.form-group -->

</form>
<hr>