<div class="cart-controls cart-controls-horizontal input-group">
    <div class="row">

        <div class="col-xs-6 col-md-5">
            <div class="cart-spinner-group">
                <button type="button" class="btn btn-default" data-value="decrease" data-target="#spinner-{{@index}}"
                        data-toggle="spinner">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>
                <input type="text" id="spinner-{{@index}}" data-ride="spinner" class="form-control input-number"
                       value="" placeholder="Qty">
                <button type="button" class="btn btn-default" data-value="increase" data-target="#spinner-{{@index}}"
                        data-toggle="spinner">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>

        <div class="col-xs-6 col-md-7">
            <div class="cart-button-group">
                <button type="button" class="btn btn-info icon-overlay gradient">
                    <span class="glyphicon glyphicon-plus"></span>
                    <i class="hologram icon-hf-file-text"></i>
                </button>
                <button type="button" class="btn btn-danger icon-overlay gradient">
                    <span class="glyphicon glyphicon-plus"></span>
                    <i class="hologram icon-hf-truck"></i>
                </button>
            </div>
        </div>

    </div>
    <!-- /.row -->
</div>
<!-- /cart-controls -->