<div class="cart-controls cart-controls-horizontal-group input-group">

    <div class="input-group">
        <input type="text" class="form-control" value="" placeholder="Quantity">
      <span class="input-group-btn">
                <button type="button" class="btn btn-danger icon-overlay gradient">
                    <span class="glyphicon glyphicon-plus"></span>
                    <i class="hologram icon-hf-truck"></i>
                </button>
      </span>
      <span class="input-group-btn">
                <button type="button" class="btn btn-info icon-overlay gradient">
                    <span class="glyphicon glyphicon-plus"></span>
                    <i class="hologram icon-hf-file-text"></i>
                </button>
      </span>
    </div>
    <!-- /input-group -->

</div>
<!-- /cart-controls -->