<div class="cart-controls cart-controls-stacked input-group">
    <div class="row">

        <div class="col-md-3">
            <div class="cart-spinner-group">
                <button type="button" class="btn btn-default" data-value="increase" data-target="#spinner-{{@index}}"
                        data-toggle="spinner">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <input type="text" id="spinner-{{@index}}" data-ride="spinner" class="form-control input-number"
                       value="" placeholder="Qty">
                <button type="button" class="btn btn-default" data-value="decrease" data-target="#spinner-{{@index}}"
                        data-toggle="spinner">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>
            </div>
        </div>

        <div class="col-md-9">
            <div class="cart-button-group">
                <button type="button" class="btn btn-info btn-block gradient">
                    <span class="glyphicon glyphicon-plus"></span> <span class="hidden-xs">Add to</span> Quote
                </button>
                <button type="button" class="btn btn-danger btn-block gradient">
                    <span class="glyphicon glyphicon-plus"></span> <span class="hidden-xs">Add to</span> Order
                </button>
            </div>
        </div>

    </div>
    <!-- /.row -->
</div>
<!-- /cart-controls -->

