<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 category-item ">
    <div class="category-content">
        <ul class="categories-short">
            {{#each categories_short}}
                <li><a href="#">{{this}}</a></li>
            {{/each}}
        </ul>
        <img src="http://placehold.it/200x130" alt="{{title}}" class="img-responsive center-block"/>
    </div>
    <div class="category-title dropup">
        <button class="btn btn-dark btn-block btn-lg gradient category-title" data-toggle="dropdown">
            <span>{{title}}</span>
            <i class="fa fa-angle-right"></i>
        </button>
        <div class="dropdown-menu">
            <ul class="categories-full">
                {{#each categories_full}}
                    <li><a href="#">{{this}}</a></li>
                {{/each}}
                    <li><a href="">& More</a></li>
            </ul>
        </div>
    </div>
</div>
