<div id="search-results-filter-table">
    <div class="panel list-group">
        {{#each result.filters}}
            <a href="#" class="list-group-item minus-toggleable" data-toggle="collapse" data-target="#sm-{{@index}}"
               aria-expanded="true">{{label}} <span class="glyphicon glyphicon-minus pull-right"></span></a>

            <div id="sm-{{@index}}" class="sublinks collapse in">
                {{#each this.data}}
                    <div class="sublinks-inner">
                        <span class="pull-right">{{this.value}}</span>
                        <div class="checkbox clip-check check-primary checkbox-inline">
                            <input type="checkbox" id="checkbox-{{@../index}}-{{@index}}" value="">
                            <label for="checkbox-{{@../index}}-{{@index}}">{{this.label}}</label>
                        </div>

                    </div>
                {{/each}}
            </div>

        {{/each}}
    </div>
</div>