<div class="search-results-header">
    <div class="row">

        <div class="col-xs-12 col-sm-8">
            <div class="search-results-filter">
                <span class="badge selected"><span class="hidden-xs hidden-sm">Sort by </span>Brand</span>
                <span class="badge"><span class="hidden-xs hidden-sm">Sort by </span>Price</span>
                <span class="badge"><span class="hidden-xs hidden-sm">Sort by </span>Popularity</span>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4">
            <div class="search-results-grid-icons search-grid-controls">
                <a href="#" data-layout="1"><i class="ti-view-list-alt"></i></a>
                <a href="#" data-layout="2"><i class="ti-layout-grid2"></i></a>
                <a href="#" data-layout="3" class="selected"><i class="ti-layout-grid3"></i></a>
            </div>
        </div>

    </div>
</div>