<div class="thumbnail">
    <div class="row">

        <div class="col-xs-12 col-sm-3 col-img">
            <a href=""><img class="img-responsive" src="{{img}}" alt="{{title}}"/></a>
        </div>

        <div class="col-xs-12 col-sm-5 col-details">
            <div class="title">
                <h4><a href="">{{title}}</a></h4>
            </div>
            <div class="price">{{price}}</div>
            <p class="hidden-xs">{{description}}</p>

            <div class="details hidden-xs">
                <span>Code: <span>{{code}}</span></span>
                <span>Stock: <span>{{stock}}</span></span>
                <span>Price incl VAT: <span>{{price}}</span></span>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-controls">
            <div class="price">{{price}}</div>
            <div>
                {{>controls/cart/spinner_horizontal}}
            </div>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.thumbnail -->