<div class="modal modal-vcenter fade" id="quoteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p class="text-info">Awesome. Quote FTG200061QT has been sent.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info gradient" data-dismiss="modal">Create New Quote</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->