<div class="modal modal-vcenter fade" id="orderModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p class="text-danger">Legend. Your order has been processed.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger gradient" data-dismiss="modal">Create New Order</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->