<div class="carousel-item">
    <div class="content">
        <div class="title">
            <h4>{{title}}</h4>
        </div>
        <div class="price">{{price}}</div>
        <img src="{{img}}" alt="{{title}}" class="img-responsive center-block"/>
    </div>
    <div class="carousel-hover">
        <div class="content">
            <div class="title">
                <h4><a href="">{{title}}</a></h4>
            </div>
            <div class="price">{{price}}</div>
            <p>{{description}}</p>
        </div>
        {{>controls/cart/spinner_horizontal_group}}
    </div>
</div>