<div class="row">
    <div class="col-sm-12 carousel-wrapper">
        <!-- Controls -->
        <div class="controls hidden-xs pull-left">
            <a class="left btn btn-carousel owl-prev" href="#">
                <i class="fa fa-caret-left"></i>
            </a>
        </div>
        <!-- Controls -->
        <div class="controls hidden-xs pull-right">
            <a class="right fa btn btn-carousel owl-next" href="#">
                <i class="fa fa-caret-right"></i>
            </a>
        </div>
        <div id="carousel-featured-products" class="product-carousel owl-carousel">
            <!-- Wrapper for slides -->
            {{#each carousel.products}}
                {{>carousel/item}}
            {{/each}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="btn btn-dark btn-block btn-lg gradient carousel-title">
            <span>{{carousel.title}}</span>
        </div>
    </div>
</div>

