<div class="dropdown-menu mega-dropdown-menu" role="menu">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <ul>
                <li class="dropdown-header">Computers</li>
                <li class="hidden-sm hidden-xs"><a href="#">Desktops</a></li>
                <li class="hidden-sm hidden-xs"><a href="#">Monitors</a></li>
                <li class="hidden-sm hidden-xs"><a href="#">Mobility</a></li>
                <li class="hidden-sm hidden-xs"><a href="#">Accessories</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <ul>
                <li class="dropdown-header">Office Equipment</li>
                <li class="hidden-sm hidden-xs"><a href="#">Office Machines</a></li>
                <li class="hidden-sm hidden-xs"><a href="#">Communication</a></li>
                <li class="hidden-sm hidden-xs"><a href="#">Projectors</a></li>
                <li class="hidden-sm hidden-xs"><a href="#">Routers & Switches</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <ul>
                <li class="dropdown-header">Networking</li>
                <li class="hidden-sm hidden-xs"><a href="#">Routers & Switches</a></li>
                <li class="hidden-sm hidden-xs"><a href="#">Network Adapters</a></li>
                <li class="hidden-sm hidden-xs"><a href="#">More Options</a></li>
                <li class="hidden-sm hidden-xs"><a href="#">Storage & Memory</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <ul>
                <li class="dropdown-header">Peripherals</li>
                <li class="hidden-sm hidden-xs"><a href="#">Power & Batteries</a></li>
                <li class="hidden-sm hidden-xs"><a href="#">Cables</a></li>
                <li class="hidden-sm hidden-xs"><a href="#">Controller Cards</a></li>
                <li class="hidden-sm hidden-xs"><a href="#">Accessories</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <ul>
                <li class="dropdown-header">Printing</li>
                <li class="hidden-sm hidden-xs"><a href="#">Laser & Inkject Printers</a></li>
                <li class="hidden-sm hidden-xs"><a href="#">Multifunction Printers</a></li>
                <li class="hidden-sm hidden-xs"><a href="#">Special Printers</a></li>
                <li class="hidden-sm hidden-xs"><a href="#">Printer Consumables</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <ul>
                <li class="dropdown-header">Storage & Memory</li>
                <li class="hidden-sm hidden-xs"><a href="#">Hard Drives</a></li>
                <li class="hidden-sm hidden-xs"><a href="#">Memory (RAM)</a></li>
                <li class="hidden-sm hidden-xs"><a href="#">Flash Memory & Media</a></li>
                <li class="hidden-sm hidden-xs"><a href="#">Servers</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <ul>
                <li class="dropdown-header">Components</li>
                <li class="hidden-sm hidden-xs"><a href="#">Cases & Optical Drives</a></li>
                <li class="hidden-sm hidden-xs"><a href="#">Processors</a></li>
                <li class="hidden-sm hidden-xs"><a href="#">Motherboards</a></li>
                <li class="hidden-sm hidden-xs"><a href="#">Sound & Graphic Cards</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <ul>
                <li class="dropdown-header">Software</li>
                <li class="hidden-sm hidden-xs"><a href="#">Applications</a></li>
                <li class="hidden-sm hidden-xs"><a href="#">Operating Systems</a></li>
                <li class="hidden-sm hidden-xs"><a href="#">Suites & Office</a></li>
                <li class="hidden-sm hidden-xs"><a href="#">Antivirus Software</a></li>
            </ul>
        </div>
    </div>
    <!-- /.row -->
    <div class="row hidden-md hidden-sm hidden-xs">
        <div class="col-sm-12">
            <ul>
                <li class="dropdown-header">Top Brands</li>
            </ul>
        </div>
    </div>
    <!-- /.row -->
    <div class="row hidden-md hidden-sm hidden-xs">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <ul>
                <li><a href="#">ACER</a></li>
                <li><a href="#">Adobe</a></li>
                <li><a href="#">AMD</a></li>
                <li><a href="#">Apple</a></li>
                <li><a href="#">ASUS</a></li>
                <li><a href="#">CANON</a></li>
                <li><a href="#">CISCO</a></li>
                <li><a href="#">DELL</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <ul>
                <li><a href="#">D-Link</a></li>
                <li><a href="#">EPSON</a></li>
                <li><a href="#">Gigabyte</a></li>
                <li><a href="#">HP</a></li>
                <li><a href="#">IBM</a></li>
                <li><a href="#">Intel</a></li>
                <li><a href="#">Kyocera</a></li>
                <li><a href="#">Lenovo</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <ul>
                <li><a href="#">Lexmark</a></li>
                <li><a href="#">LG</a></li>
                <li><a href="#">Linksys</a></li>
                <li><a href="#">Logitech</a></li>
                <li><a href="#">MECER</a></li>
                <li><a href="#">Microsoft</a></li>
                <li><a href="#">NEC</a></li>
                <li><a href="#">Netgear</a></li>

            </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <ul>
                <li><a href="#">Samsung</a></li>
                <li><a href="#">Sandisk</a></li>
                <li><a href="#">Seagate</a></li>
                <li><a href="#">Targus</a></li>
                <li><a href="#">Transcend</a></li>
                <li><a href="#">Western Digital</a></li>
                <li><a href="#">XEROX</a></li>
                <li><a href="#"><strong>View all brands</strong></a></li>
            </ul>
        </div>
    </div>
    <!-- /.row -->
</div>