<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mp-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>  <span class="hologram icon-hf-bars"></span></span>
        </button>

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="logo-small"><img src="img/logo-small.png" alt=""></span>
                <span class="logo-full"><img src="img/logo-full.png" alt=""></span>
            </a>
            <button type="button" class="btn navbar-twitch-toggle hidden-sm hidden-xs hidden-md">
                <span class="hologram icon-hf-bars"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="mp-navbar-collapse">

            <ul class="nav navbar-nav navbar-right hidden-sm hidden-md hidden-lg hidden-xl">
                <li class="notification">
                    <a href=""><i class="hologram icon-hf-file-duplicate quotes"><span class="badge badge-info">43</span></i></a>
                </li>
                <li class="notification">
                    <a href=""><i class="hologram icon-hf-truck orders"><span class="badge badge-danger">33</span></i></a>
                </li>
                <li>
                    <a href="">List All Categories</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi Jonathan <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Sign-out</a></li>
                        <li><a href="#">Account Settings</a></li>
                    </ul>
                </li>
            </ul>
            <!-- /.navbar-right xs -->

            <ul class="nav navbar-nav navbar-right hidden-xs">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle walkthrough-target-account" data-toggle="dropdown">Hi Jonathan <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Sign-out</a></li>
                        <li><a href="#">Account Settings</a></li>
                    </ul>
                </li>
                <li class="notification">
                    <a href=""><i class="hologram icon-hf-file-duplicate quotes"><span class="badge badge-info">43</span></i></a>
                </li>
                <li class="notification">
                    <a href=""><i class="hologram icon-hf-truck orders"><span class="badge badge-danger">33</span></i></a>
                </li>
            </ul>
            <!-- /.navbar-right-->

            <form class="navbar-form hidden-xs" role="search">
                <div class="form-group">
                    <div class="input-group" style="">
                        <div class="input-group-addon">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span id="search-filter">All</span> <span class="caret"></span>
                            </button>
                        </div>
                        <input type="text" class="search-query form-control walkthrough-target-searchbar" placeholder="Search products or enter SKU...">
                            <span class="input-group-addon search-btn">
                                <button class="btn btn-default submit" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        {{>search_autocomplete}}
                        {{>megamenu}}
                    </div>
                </div>
            </form>
            <!-- /form -->

            <form class="navbar-form hidden-sm hidden-md hidden-lg hidden-xl" role="search">
                <div class="form-group">
                    <div class="input-group" style="">
                        <input type="text" class="form-control walkthrough-target-searchbar" placeholder="Search products or enter SKU...">
                            <span class="input-group-addon search-btn">
                                <button class="btn btn-default submit" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        {{>search_autocomplete}}
                    </div>
                </div>
            </form>
            <!-- /form xs -->


        </div>
        <!-- /.navbar-collapse -->

    </div>
    <!-- /.container-fluid -->
</nav>