<div class="dropdown-menu search-autocomplete" role="menu">
    <div class="row">
        <div class="col-sm-12">
            <ul>
                <li>
                    <div class="hidden-xs hidden-sm hidden-md col-lg-2"><img src="http://placehold.it/60x40" alt=""></div>
                    <div class="col-sm-12 col-md-9 col-lg-7 product-title"><a href="http://www.google.com">HP Officejet Pro X451DW-printer-colour-ink-jet</a></div>
                    <div class="col-sm-12 col-md-3">R 2 381.58 <br/><span class="text-info">3</span> in stock</div>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <div class="hidden-xs hidden-sm hidden-md col-lg-2"><img src="http://placehold.it/60x40" alt=""></div>
                    <div class="col-sm-12 col-md-9 col-lg-7 product-title"><a href="">HP Router</a></div>
                    <div class="col-sm-12 col-md-3">R 4 381.58 <br/><span class="text-info">10</span> in stock</div>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <div class="hidden-xs hidden-sm hidden-md col-lg-2"><img src="http://placehold.it/60x40" alt=""></div>
                    <div class="col-sm-12 col-md-9 col-lg-7 product-title"><a href="">EVGA nVidia GeForce GTX960 GPU</a></div>
                    <div class="col-sm-12 col-md-3">R 1 33.58 <br/><span class="text-info">33</span> in stock</div>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </div>
        <div class="col-sm-12">
            <a href="" class="btn btn-danger btn-block">
                <span>View All Results</span>
            </a>
        </div>
    </div>
</div>