<div class="navbar navbar-inverse navbar-twitch" role="navigation">
    <div class="container">
        <div class="navbar-buttons">
            <a href="" class="btn btn-info btn-block btn-lg gradient raised">
                <i class="hologram icon-hf-file-text"></i>
                <span>Quick Quote</span>
            </a>
            <a href="" class="btn btn-danger btn-block btn-lg gradient raised">
                <i class="hologram icon-hf-truck"></i>
                <span>Quick Order</span>
            </a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">
						<span data-toggle="tooltip" data-placement="right" title="Dashboard">
							<i class="hologram icon-hf-th"></i>
                            <span>Dashboard</span>
						</span>
                    </a>
                </li>
                <li class="active">
                    <a href="#">
						<span data-toggle="tooltip" data-placement="right" title="Products">
							<i class="hologram icon-hf-search"></i>
                            <span>Products</span>
						</span>
                    </a>
                </li>
                <li class="walkthrough-target-sidebar">
                    <a href="#">
						<span data-toggle="tooltip" data-placement="right" title="Quotes">
							<i class="hologram icon-hf-file-text"></i>
                            <span>Quotes</span>
						</span>
                    </a>
                </li>
                <li>
                    <a href="#">
						<span data-toggle="tooltip" data-placement="right" title="Orders">
							<i class="hologram icon-hf-truck"></i>
                            <span>Orders</span>
						</span>
                    </a>
                </li>
                <li>
                    <a href="#">
						<span data-toggle="tooltip" data-placement="right" title="Reports">
							<i class="hologram icon-hf-bar-chart"></i>
                            <span>Reports</span>
						</span>
                    </a>
                </li>
                <li>
                    <a href="#">
						<span data-toggle="tooltip" data-placement="right" title="Settings">
							<i class="hologram icon-hf-cog"></i>
                            <span>Settings</span>
						</span>
                    </a>
                </li>
                <li>
                    <a href="#">
						<span data-toggle="tooltip" data-placement="right" title="Help">
							<i class="hologram icon-hf-video"></i>
                            <span>Help</span>
						</span>
                    </a>
                </li>
                <li>
                    <a href="#">
						<span data-toggle="tooltip" data-placement="right" title="Contact">
							<i class="hologram icon-hf-envelope"></i>
                            <span>Contact</span>
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div><!--/.container -->
</div><!--/.navbar-twitch -->