<div class="modal fade in">

    <div class="pointer step1" data-target=".walkthrough-target-sidebar" data-attachment="middle left"
         data-target-attachment="top middle">
        <span class="sprite sprite-arrow-01 pull-left"></span>
        <p class="pull-right">Access all your quotes and orders here</p>
    </div>

    <div class="pointer step2" data-target=".walkthrough-target-searchbar" data-attachment="top center"
         data-target-attachment="middle center">
        <span class="sprite sprite-arrow-02"></span>
        <p>Search for all the products here using codes, descriptions or keywords</p>
    </div>

    <div class="pointer step3" data-target=".walkthrough-target-account" data-attachment="top right"
         data-target-attachment="middle left">
        <span class="sprite sprite-arrow-03"></span>
        <p>Your account details. <br/>Please complete your <br/>registration first.</p>
    </div>

    <div class="blurb text-center">

        <div class="step enabled">
            <h1><span>Welcome</span> to The Marketplace</h1>
            <p>Here's a little help to get you <span>started</span></p>
        </div>

        <div class="controls">
            <button class="btn btn-info btn-lg btn-wide gradient raised" data-dismiss="modal">Got it, Thanks</button>
            <div class="form-group">
                <div class="radio clip-radio radio-primary radio-inline">
                    <input type="radio" id="radio-step-1" name="wlkt" value="step1">
                    <label for="radio-step-1"></label>
                </div>
                <div class="radio clip-radio radio-primary radio-inline">
                    <input type="radio" id="radio-step-2" name="wlkt" value="step2">
                    <label for="radio-step-2"></label>
                </div>
                <div class="radio clip-radio radio-primary radio-inline">
                    <input type="radio" id="radio-step-3" name="wlkt" value="step3">
                    <label for="radio-step-3"></label>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal-backdrop fade in"></div>
