{{> header}}

{{> navbar}}

<div class="container-fluid">

<div class="row">
    <div class="col-md-4 col-sm-offset-3">






    <div class="input-group cart-controls">
        <div class="cart-spinner-group">
            <button type="button" class="btn left" data-value="increase" data-target="#spinner-{{@index}}" data-toggle="spinner">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <input type="text" class="form-control" placeholder="Quantity">
            <button type="button" class="btn right" data-value="decrease" data-target="#spinner-{{@index}}" data-toggle="spinner">
                <span class="glyphicon glyphicon-minus"></span>
            </button>
        </div>

        <span class="input-group-btn">
            <button class="btn btn-info gradient" type="button">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button class="btn btn-danger gradient" type="button">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </span>

    </div>


                                                                                                                            <div style="height: 50px;"></div>


    <div class="input-group cart-controls">

        <input type="text" class="form-control" placeholder="Quantity">

        <span class="input-group-btn">
            <button class="btn btn-info gradient" type="button">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button class="btn btn-danger gradient" type="button">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </span>

    </div>

                                                                                                                            <div style="height: 50px;"></div>


    <div class="input-group cart-controls">

        <div class="cart-spinner-group">
            <button type="button" class="btn left" data-value="increase" data-target="#spinner-{{@index}}" data-toggle="spinner">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <input type="text" class="form-control" placeholder="Quantity">
            <button type="button" class="btn right" data-value="decrease" data-target="#spinner-{{@index}}" data-toggle="spinner">
                <span class="glyphicon glyphicon-minus"></span>
            </button>
        </div>

        <span class="input-group-btn">
            <button class="btn btn-info gradient btn-block" type="button">
                <span class="glyphicon glyphicon-plus"></span> Add to Quote
            </button>
            <button class="btn btn-danger gradient btn-block" type="button">
                <span class="glyphicon glyphicon-plus"></span> Add to Order
            </button>
        </span>

    </div>



    </div>
</div>

</div><!-- / .container-fluid -->

{{> footer}}
