{{> header}}

{{> sidenav}}

{{> navbar}}

<div class="container-fluid">

    <section class="content-wrapper">

        <div class="content-header">
            <h1>Contact Us</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="glyphicon glyphicon-home"></i> <span>Home</span></a></li>
                <li class="active"><span>Contact</span></li>
            </ol>
        </div>
        <!-- / .content-header -->

        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-3">
                <h4 class="text-uppercase margin-vt-md">Help with Orders</h4>
                <p class="text-md">
                    <span class="text-info">087 820 4560</span><br/>
                    Monday to Friday<br/>
                    8am - 5pm
                </p>

                <h4 class="text-uppercase margin-vt-md">Customer Calls</h4>

                <p class="text-md">
                    <span class="text-info">087 820 4560</span><br/>
                    Monday to Friday<br/>
                    8am - 5pm
                </p>

                <h4 class="text-uppercase margin-vt-md">Live Chat</h4>

                <p class="text-md">
                    <span class="text-info">087 820 4560</span><br/>
                    Monday to Friday<br/>
                    8am - 5pm
                </p>

            </div>

            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-9 border-dashed-l">
                <h1>Or, get in touch with us.<br/><span class="text-info">Complete the form below to send us as message</span></h1>
                <form class="contact-form">
                    <div class="form-group">
                        <label for="subject">What's on your mind?</label>
                        <input type="text" class="form-control input-lg" id="subject" placeholder="Subject">
                    </div>
                    <div class="form-group">
                        <label for="message">Give us the details. <span>Please be as specific as possible</span></label>
                        <textarea class="form-control input-lg" id="message" placeholder="Details" rows="6"></textarea>
                    </div>
                    <div class="form-group form-inline">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group block-override">
                                    <label>Give us your details. <span>(In case we need to contact you)</span></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-lg-3">
                                <div class="form-group">
                                    <label class="sr-only" for="name">Name</label>
                                    <input type="text" class="form-control input-lg" id="name" placeholder="Your Name">
                                </div>
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <div class="form-group">
                                    <label class="sr-only" for="email">Email address</label>
                                    <input type="email" class="form-control input-lg" id="email"
                                           placeholder="Email Address">
                                </div>
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <div class="form-group">
                                    <label class="sr-only" for="tel">Password</label>
                                    <input type="text" class="form-control input-lg" id="tel"
                                           placeholder="Contact number">
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="form-group text-right">
                        <button class="btn btn-info btn-lg btn-wide gradient">Send Query</button>
                    </div>
                </form>
            </div>
        </div>

    </section>
    <!-- / .content-wrapper -->

</div>
<!-- / .container-fluid -->

{{> footer}}