{{> header}}

{{> sidenav}}

{{> navbar}}

<div class="container-fluid">

    <section class="content-wrapper">

        <div class="content-header">
            <h1>Convert to Order</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="glyphicon glyphicon-home"></i> <span>Home</span></a></li>
                <li><a href="#"><span>Quotes</span></a></li>
                <li><a href="#"><span>Quote 001</span></a></li>
                <li class="active"><span>Convert to Order</span></li>
            </ol>
        </div>
        <!-- / .content-header -->

        <div class="quick-steps">
            <ul>
                <li class="order">Confirm and Place Order</li>
            </ul>
            <hr>
        </div>
        <!-- / .quick-steps -->

        <div class="row">
            <div class="col-xs-12">
                <form class="form-inline form-quick-add">
                    <div class="form-group form-group-lg">
                        <label for="purchaseorder">Purchase Order Number</label>
                        <input type="text" class="form-control purchaseorder" id="purchaseorder"
                               placeholder="ABCD12345677">
                    </div>
                </form>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Product</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-center">Unit R</th>
                            <th class="text-center">Sub-Total</th>
                            <th class="text-center">VAT</th>
                            <th class="text-center">Total</th>
                            <th class="text-center">Currency</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a href="#" onclick="javascript: return false;" class="btn accordion-toggle" data-toggle="collapse" data-target="tr.hidden-row-1"><i class="ti-close text-danger"></i></a> CN01</td>
                            <td class="text-center text-muted">1</td>
                            <td class="text-center text-muted">22,00</td>
                            <td class="text-center text-muted">34,00</td>
                            <td class="text-center text-muted">34,85</td>
                            <td class="text-center text-muted">34,85</td>
                            <td class="text-center text-muted">ZAR</td>
                        </tr>
                        <tr class="hiddenRow collapse accordian-body hidden-row-1 no-border-b no-border-t">
                            <td colspan="7">
                                <div class="text-danger">Product title and code CN01</div>
                            </td>
                        </tr>
                        <tr class="total orders no-border-b">
                            <td colspan="3"><span><strong>Total</strong></span></td>
                            <td class="text-center"><span>34,00</span></td>
                            <td class="text-center"><span>34,85</span></td>
                            <td class="text-center"><span>34,85</span></td>
                            <td class="text-center"><span>ZAR</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <form>
                <div class="col-sm-12 col-md-6 col-lg-5">
                    <h3 class="text-uppercase">Shipping Details</h3>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group shipping-details">
                                <input type="text" class="form-control input-lg" placeholder="First name">
                            </div>
                            <div class="form-group shipping-details">
                                <input type="text" class="form-control input-lg" placeholder="Last name">
                            </div>
                            <div class="form-group shipping-details">
                                <input type="email" class="form-control input-lg" placeholder="Email address">
                            </div>
                            <div class="form-group shipping-details">
                                <input type="text" class="form-control input-lg" placeholder="Company">
                            </div>
                            <div class="form-group shipping-details">
                                <input type="text" class="form-control input-lg" placeholder="VAT number">
                            </div>
                            <div class="form-group shipping-details">
                                <input type="text" class="form-control input-lg" placeholder="Address">
                            </div>
                            <div class="form-group shipping-details">
                                <input type="text" class="form-control input-lg" placeholder="Suburb">
                            </div>
                            <div class="form-group shipping-details">
                                <input type="text" class="form-control input-lg" placeholder="Postal code">
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->

                </div>
                <div class="col-sm-12 col-md-6 col-lg-7">
                    <h3 class="text-uppercase">Payment Method</h3>
                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-md-12 col-lg-4">
                            <div class="form-group payment-method">
                                <div class="radio clip-radio radio-primary radio-inline">
                                    <input type="radio" id="creditcard" name="payment_method" value="cc" checked="checked">
                                    <label for="creditcard">
                                        Credit card
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-7 col-md-12 col-lg-8">
                            <div class="form-group payment-method">
                                <img src="img/cards-accepted.png" alt="" class="img-responsive pull-left">
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group payment-method">
                                <div class="radio clip-radio radio-primary radio-inline">
                                    <input type="radio" id="eft" name="payment_method" value="eft">
                                    <label for="eft">
                                        EFT
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group payment-method">
                                <div class="radio clip-radio radio-primary radio-inline">
                                    <input type="radio" id="corpaccount" name="payment_method" value="corp_account">
                                    <label for="corpaccount">
                                        Corporate Account
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <p class="order-directive text-muted">
                                    <small>If all the details are correct, please place order and you will be redirected to the
                                        payment facilitator’s website to conclude the transaction.
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </form>
        </div>
        <!-- /.row -->

        <nav class="nav-bottom">
            <div class="row">
                <div class="col-xs-12">
                    <a href="" class="btn btn-order pull-right" data-toggle="modal" data-target="#orderModal">Place Order <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <!-- /.row -->
            <hr>
            <div class="row">
                <div class="col-xs-12">
                    <a href="">Cancel Order</a>
                </div>
            </div>
            <!-- /.row -->
        </nav>
        <!-- /.nav-bottom -->

    </section>
    <!-- / .content-wrapper -->

</div>
<!-- / .container-fluid -->

{{> modals/generate_order }}

{{> footer}}