{{> header}}

{{> sidenav}}

{{> navbar}}

<div class="container-fluid">

    <section class="content-wrapper">

        <div class="content-header">
            <h1>Quote Temp001</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="glyphicon glyphicon-home"></i> <span>Home</span></a></li>
                <li><a href="#"><span>Quotes</span></a></li>
                <li class="active"><span>Add Client Details</span></li>
            </ol>
        </div>
        <!-- / .content-header -->

        <div class="quick-steps">
            <ol>
                <li>Select Products & Add Markup</li>
                <li class="selected">Add Client Details</li>
                <li>Preview Quote</li>
                <li>Send Quote</li>
            </ol>
            <hr>
        </div>
        <!-- / .quick-steps -->

        <div class="quick-update">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <a href="" class="btn btn-dark btn-inline gradient">
                        <span>Attach Document</span>
                    </a>
                    <a href="" class="btn btn-dark btn-inline gradient">
                        <span>Attach Spec Document</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- / .quick-update -->

        <div class="form-add-details">
            <hr>
            <div class="row">
                <form>
                    <div class="col-md-4">
                        <h4 class="text-uppercase margin-vt-lg">Client Details</h4>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input type="text" class="form-control input-lg" placeholder="Company Name">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control input-lg" placeholder="Attention (Name)">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control input-lg" placeholder="Company Address">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <input type="text" class="form-control input-lg" placeholder="Telephone number">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <input type="text" class="form-control input-lg" placeholder="Fax Number">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h4 class="text-uppercase margin-vt-lg">Email Details</h4>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input type="text" class="form-control input-lg" placeholder="Email Address">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control input-lg" placeholder="Quote: [Quote Number]">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" rows="8"></textarea>
                                </div>
                                <div class="form-group" >
                                    <input type='text' class="form-control input-lg datepicker" placeholder="Quote valid till 29/10/2015" data-prefix="Quote valid till" />
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control input-lg" placeholder="Quote Comments">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- /.row -->
        </div><!-- /.row -->

        <section class="nav-bottom">
            <div class="row">
                <div class="col-xs-12">
                    <a href="" class="btn pull-left"><i class="fa fa-angle-left"></i> Back </a>
                    <a href="" class="btn pull-right">Next <i class="fa fa-angle-right"></i></a>
                </div>
            </div><!-- /.row -->
            <hr>
            <div class="row">
                <div class="col-xs-12">
                    <a href="">Cancel Quote</a>
                </div>
            </div><!-- /.row -->
        </section><!-- /.nav-bottom -->

    </section>
    <!-- / .content-wrapper -->

</div>
<!-- / .container-fluid -->

{{> footer}}