{{> header}}

{{> sidenav}}

{{> navbar}}

<div class="container-fluid">

    <section class="content-wrapper">

        <div class="content-header">
            <h1>Quote Temp001</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="glyphicon glyphicon-home"></i> <span>Home</span></a></li>
                <li class="active"><span>Generate Quote</span></li>
            </ol>
        </div>
        <!-- / .content-header -->

        <div class="quick-steps">
            <ol>
                <li class="selected">Select Products & Add Markup</li>
                <li>Add Client Details</li>
                <li>Preview Quote</li>
                <li>Send Quote</li>
            </ol>
            <hr>
        </div>
        <!-- / .quick-steps -->

        <div class="row">
            <div class="col-xs-12">
                {{> controls/form/quick_add }}
            </div>
        </div><!-- /.row -->

        <div class="quick-update">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-5 col-lg-5 ">
                    <a href="" class="btn btn-dark btn-stacked gradient">
                        <span>Bulk Order Upload</span>
                    </a>
                    <a href="" class="btn btn-dark btn-stacked gradient">
                        <span>Remove All</span>
                    </a>
                    <a href="" class="btn btn-dark btn-stacked gradient">
                        <span>Cancel</span>
                    </a>
                    <a href="" class="btn btn-dark btn-stacked gradient">
                        <span>Group Items</span>
                    </a>
                </div>
                <div class="text-right col-xs-12 col-sm-8 col-md-7 col-lg-7">
                    <form class="form-inline">
                        <div class="radio clip-radio radio-primary radio-inline">
                            <input type="radio" name="optionsRadios" id="radio-qty" value="quantity" checked>
                            <label for="radio-qty">Quantity</label>
                        </div>
                        <div class="radio clip-radio radio-primary radio-inline">
                            <input type="radio" name="optionsRadios" id="radio-vat" value="vat" checked>
                            <label for="radio-vat">VAT %</label>
                        </div>
                        <div class="radio clip-radio radio-primary radio-inline">
                            <input type="radio" name="optionsRadios" id="radio-margin" value="margin" checked>
                            <label for="radio-margin">Margin %</label>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-dark gradient" type="button">Update Quote Items</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- /.row -->
        </div>
        <!-- / .quick-update -->

        <div class="row">
            <div class="col-md-12">

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Product</th>
                            {{#each table.headers}}
                                <th class="text-center">{{this}}</th>
                            {{/each}}
                            <th class="text-center">Currency</th>
                            <th class="text-center">Select</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each table.data}}
                            <tr>
                                <td><a href="#" onclick="javascript: return false;" class="btn accordion-toggle" data-toggle="collapse" data-target="tr.hidden-row-{{@index}}"><i class="ti-close"></i></a> {{this.code}}</td>
                                <td class="text-center text-muted">{{this.stock}}</td>
                                <td class="text-center">{{this.quantity}}</td>
                                <td class="text-center text-muted">{{this.unit_cost}}</td>
                                <td class="text-center">{{this.margin_percent}}</td>
                                <td class="text-center text-muted">{{this.margin_cost}}</td>
                                <td class="text-center text-muted">{{this.unit_sell}}</td>
                                <td class="text-center text-muted">{{this.sub_total}}</td>
                                <td class="text-center text-muted">{{this.vat}}</td>
                                <td class="text-center">{{this.total}}</td>
                                <td class="text-center text-muted">ZAR</td>
                                <td class="action-btn text-center">
                                    <div class="checkbox clip-check check-primary">
                                        <input type="checkbox" id="checkbox-{{@index}}" value="1">
                                        <label for="checkbox-{{@index}}"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr class="hiddenRow collapse accordian-body no-border-b no-border-t hidden-row-{{@index}}">
                                <td colspan="12"><div class="">{{this.title}}</div></td>
                            </tr>
                        {{/each}}
                        <tr class="total">
                            <td colspan="7"><span>Total</span></td>
                            <td class="text-center"><span>34,85</span></td>
                            <td class="text-center"><span>34,85</span></td>
                            <td class="text-center"><span>345,86</span></td>
                            <td class="text-center"><span>ZAR</span></td>
                            <td><span>&nbsp;</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->

            </div>
        </div><!-- /.row -->

        <div class="nav-bottom">
            <div class="row">
                <div class="col-xs-12">
                    <a href="" class="btn pull-right">Next <i class="fa fa-angle-right"></i></a>

                </div>
            </div><!-- /.row -->
            <hr>
            <div class="row">
                <div class="col-xs-12">
                    <a href="">Cancel Quote</a>
                </div>
            </div><!-- /.row -->
        </div><!-- /.nav-bottom -->

    </section>
    <!-- / .content-wrapper -->

</div>
<!-- / .container-fluid -->

{{> footer}}