{{> header}}

{{> navbar}}

<div class="container-fluid">
    <div class="content-wrapper">
        {{#each template_type}}
        <div class="row">

                <div class="col-sm-4 col-sm-offset-4">
                    <div class="list-group">
                        <h2 style="color: #fff">{{label}}</h2>
                        <h4>
                            <strong>
                                {{#each pages}}
                                    <a href="{{link}}" class="list-group-item">{{title}}</a>
                                {{/each}}
                            </strong>
                        </h4>
                    </div>
                </div>

        </div>
        {{/each}}
    </div>

</div><!-- / .container-fluid -->

{{> footer}}
