{{> header}}

{{> sidenav}}

{{> navbar}}

<div class="container-fluid">

    <section class="content-wrapper">

        <div class="content-header">
            <h1>jqPagination</h1>
        </div>
        <!-- / .content-header -->

        <div class="row">
            <div class="col-xs-12">

                <div class="input-group jq-pagination">
                    <span class="input-group-btn">
                        <a class="btn btn-info" type="button" data-action="first">&laquo;</a>
                    </span>
                    <span class="input-group-btn">
                        <a class="btn btn-info" type="button" data-action="previous">&lsaquo;</a>
                    </span>
                    <input type="text" class="form-control" readonly="readonly" data-max-page="40">
                    <span class="input-group-btn">
                        <a class="btn btn-info" type="button" data-action="next">&rsaquo;</a>
                    </span>
                    <span class="input-group-btn">
                        <a class="btn btn-info" type="button" data-action="last">&raquo;</a>
                    </span>
                </div>
                <!-- /input-group -->

            </div>
        </div>

    </section>
    <!-- / .content-wrapper -->

</div>
<!-- / .container-fluid -->

{{> footer}}