{{> header}}

{{> sidenav}}

<div class="container-fluid">

    {{> navbar}}

    <section class="content-wrapper">

        <div class="content-header">
            <h1>My Orders</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="glyphicon glyphicon-home"></i> <span>Home</span></a></li>
                <li class="active"><span>Orders</span></li>
            </ol>
        </div>
        <!-- / .content-header -->

        <div class="row overview-filter">
            <form method="">
                <div class="col-xs-12 col-md-6 col-lg-5">

                    <div class="input-group">
                        <span class="input-group-addon">
                                                    <a href="" class="btn btn-danger gradient">
                                                        <span>Create New Order</span>
                                                    </a>
                        </span>

                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" style="width: 100%; text-align: left;">
                                Bulk Actions
                                <span class="caret text-danger"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Accept</a></li>
                                <li><a href="#">Cancel</a></li>
                                <li><a href="#">Delete</a></li>
                                <li><a href="#">Reject</a></li>
                            </ul>
                        </div>
                    </div>


                </div>
                <div class="col-xs-12 col-md-6 col-lg-7">
                    <div class="input-group" style="width: 100%">
                        <input type="text" class="form-control search-input " placeholder="Search quotes">
                            <span class="input-group-btn">
                                <button class="btn btn-default search-submit" type="button">
                                    <span class="glyphicon glyphicon-search text-danger"></span></button>
                            </span>
                    </div>
                </div>
            </form>
        </div>
        <!-- / .overview-filter -->


        <div class="row">
            <div class="col-lg-12">
                <div class="status-filter pull-right">
                    <span class="badge selected">All</span>
                    <span class="badge">Order Placed</span>
                    <span class="badge">Accepted by TMP</span>
                    <span class="badge">Rejected by TMP</span>
                    <span class="badge">In Progress</span>
                    <span class="badge">Delivered</span>
                    <span class="badge">On Backorder</span>
                    <span class="badge">Awaiting Cancellation</span>
                    <span class="badge">Cancelled</span>
                </div>
                <!-- / .status-filter -->
                <table class="table table-striped table-bordered table-hover table-responsive" id="managed-table">
                    <thead>
                    <tr>
                        {{#each table.headers}}
                            <th>{{this}}</th>
                        {{/each}}
                        <th class="text-right">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each table.data}}
                        <tr {{#if cancelled}} class="cancelled" {{/if}}>
                            <td><a href="#" class="btn"><i class="ti-close delete-row"></i></a> {{this.id}}</td>
                            <td>{{this.name.first}} {{this.name.last}}</td>
                            <td class="text-muted">{{this.supplier_no}}</td>
                            <td class="text-muted">{{this.purchase_order_no}}</td>
                            <td class="text-muted">{{this.date}}</td>
                            <td class="text-muted"><i class="{{this.icon}}"></i> {{this.status}}</td>
                            <td class="text-right">R{{this.profit}}</td>
                            <td class="text-right text-muted">R{{this.value}}</td>
                            <td class="action-btn text-right">
                                <a href="" class="btn btn-danger btn-xs">Download <span class="ti-download" aria-hidden="true"></span> </a>

                                <div class="checkbox clip-check check-primary checkbox-inline">
                                    <input type="checkbox" id="checkbox-{{this.id}}" value="1">
                                    <label for="checkbox-{{this.id}}"></label>
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.row -->

    </section>
    <!-- / .content-wrapper -->

</div>
<!-- / .container-fluid -->

{{> footer}}