{{> header}}

{{> sidenav}}

{{> navbar}}

<div class="container-fluid">

    <section class="content-wrapper">

        <div class="content-header">
            <h1>Laptops</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="glyphicon glyphicon-home"></i> <span>Home</span></a></li>
                <li><a href="#"><span>Products</span></a></li>
                <li><a href="#"><span>Computers</span></a></li>
                <li class="active"><span>Laptops</span></li>
            </ol>
        </div>
        <!-- / .content-header -->


        <div class="questionnaire">
            <div class="row">
                <div class="col-md-12">
                    <div class="questionnaire-header text-center">Need Help finding the right laptop? <span>Tell us what you're looking for and we'll get you started</span></div>
                </div>
            </div><!-- / .row -->

            <div class="questionnaire-body">
                <div class="row row-directive visible-xs-block visible-sm-block">
                    <div class="col-sm-12 questionnaire-directive">
                        Make a selection below to get started
                    </div>
                </div>
                <div class="row row-eq-height">
                    <div class="col-sm-12 col-md-10">
                        <form class="questionnaire-form" action="/" method="post">
                            <h6>How will you use it? (select all that apply)</h6>
                            <div class="row">
                                {{#each options}}
                                    <div class="col-sm-12 col-md-6">
                                        <div class="checkbox clip-check check-primary">
                                           <input type="checkbox" id="checkbox-{{@index}}" value="{{value}}" name="options[]">
                                           <label for="checkbox-{{@index}}">{{label}}</label>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                            <div class="preferred-brands">
                                <h6>Preferred Brands</h6>
                                {{#each brands}}
                                    <input type="checkbox" class="hidden" id="form-check-brand-{{value}}">
                                    <i class="brand-checkbox brand-{{value}}" data-checkbox="form-check-brand-{{value}}"></i>
                                {{/each}}
                            </div>
                            <div class="price-range">
                                <h6>Price Range</h6>
                                <input type="text" class="price-range-slider span2" value="" data-slider-min="1000" data-slider-max="25000" data-slider-step="500" data-slider-value="[2500,14500]"/>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-2 text-center questionnaire-directive visible-md-block visible-lg-block">
                        <p>Make a Selection <br>on the left<br> to get started</p>
                    </div>
                </div><!-- / .row -->
            </div><!-- /. questionnaire-body -->
        </div><!-- /. questionnaire -->

        <div class="row">
            <div class="col-sm-12">
                <h4>Brands</h4>
                <hr>

                <div class="product-category-brands">
                    {{#each brands}}
                        <a href=""><i class="brand-{{value}}"></i></a>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h4>Featured Laptops</h4>
                <hr>
                <div class="row">
                    {{#each related_products}}
                        {{>search/result_4_col}}
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
    <!-- / .content-wrapper -->

</div>
<!-- / .container-fluid -->

{{> footer}}