{{> header}}

{{> sidenav}}

{{> navbar}}

<div class="container-fluid">

    <section class="content-wrapper">

        <div class="content-header">
            <h1>Quick Quote</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="glyphicon glyphicon-home"></i> <span>Home</span></a></li>
                <li class="active"><span>Quick Quote</span></li>
            </ol>
        </div>
        <!-- / .content-header -->

        <div class="quick-steps">
            <ol>
                <li class="selected">Select Products & Add Markup</li>
                <li>Add Client Details</li>
                <li>Preview Quote</li>
                <li>Send Quote</li>
            </ol>
            <hr>
        </div>
        <!-- / .quick-steps -->

        <div class="row">
            <div class="col-xs-12">
                {{> controls/form/quick_add }}
            </div>
        </div><!-- /.row -->

        <section class="nav-bottom">
            <div class="row">
                <div class="col-xs-12">
                    <a href="" class="btn pull-right">Next <i class="fa fa-angle-right"></i></a>
                </div>
            </div><!-- /.row -->
            <hr>
            <div class="row">
                <div class="col-xs-12">
                    <a href="">Cancel Quote</a>
                </div>
            </div><!-- /.row -->
        </section><!-- /.nav-bottom -->

    </section>
    <!-- / .content-wrapper -->

</div>
<!-- / .container-fluid -->

{{> footer}}