{{> header}}

{{> sidenav}}

{{> navbar}}

<div class="container-fluid">

    <section class="content-wrapper">

        <div class="content-header">
            <h1>My Quotes</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="glyphicon glyphicon-home"></i> <span>Home</span></a></li>
                <li class="active"><span>Quotes</span></li>
            </ol>
        </div>
        <!-- / .content-header -->

        <div class="row overview-filter">
            <form method="">
                <div class="col-xs-12 col-md-6 col-lg-5">

                    <div class="input-group">
                        <span class="input-group-addon">
                                                    <a href="" class="btn btn-info gradient">
                                                        <span>Create New Quote</span>
                                                    </a>
                        </span>

                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" style="width: 100%; text-align: left;">
                                Bulk Actions
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Cancel</a></li>
                                <li><a href="#">Reject</a></li>
                                <li><a href="#">Resend</a></li>
                            </ul>
                        </div>
                    </div>


                </div>
                <div class="col-xs-12 col-md-6 col-lg-7">
                    <div class="input-group" style="width: 100%">
                        <input type="text" class="form-control search-input " placeholder="Search quotes">
                            <span class="input-group-btn">
                                <button class="btn btn-default search-submit" type="button"><span
                                        class="glyphicon glyphicon-search"></span></button>
                            </span>
                    </div>
                </div>
            </form>
        </div>
        <!-- / .overview-filter -->


        <div class="row">
            <div class="col-lg-12">
                <div class="status-filter pull-right">
                    <span class="badge selected">all</span>
                    <span class="badge">pending</span>
                    <span class="badge">expired</span>
                    <span class="badge">cancelled</span>
                    <span class="badge">rejected</span>
                    <span class="badge">completed</span>
                </div>
                <table class="table table-striped table-bordered table-hover table-responsive" id="managed-table">
                    <thead>
                    <tr>
                        {{#each table.headers}}
                            <th>{{this}}</th>
                        {{/each}}
                        <th class="text-right">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each table.data}}
                        <tr>
                            <td><a href="#" class="btn"><i class="ti-close delete-row"></i></a> {{this.id}}</td>
                            <td>{{this.name.first}} {{this.name.last}}</td>
                            <td class="text-muted">{{this.description}}</td>
                            <td class="text-muted">{{this.date}}</td>
                            <td class="text-muted">{{this.status}}</td>
                            <td class="text-right">R{{this.profit}}</td>
                            <td class="text-right text-muted">R{{this.value}}</td>
                            <td class="action-btn text-right">
                                <a href="" class="btn btn-danger btn-xs {{#unless this.active}}disabled{{/unless}}">Convert
                                    to order <span class="fa fa-long-arrow-right" aria-hidden="true"></span> </a>
                                <a href="" class="btn btn-info btn-xs">Edit <span class="ti-pencil"
                                                                                  aria-hidden="true"></span> </a>
                                <a href="" class="btn btn-info btn-xs">Resend <span class="ti-email"
                                                                                    aria-hidden="true"></span> </a>

                                <div class="checkbox clip-check check-primary checkbox-inline">
                                    <input type="checkbox" id="checkbox-{{this.id}}" value="1">
                                    <label for="checkbox-{{this.id}}"></label>
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

    </section>
    <!-- / .content-wrapper -->

</div>
<!-- / .container-fluid -->

{{> footer}}