{{> header}}

{{> sidenav}}

{{> navbar}}

<div class="container-fluid">

    <section class="content-wrapper">

        <div class="content-header">
            <h1>Search Results for {{result.title}}</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="glyphicon glyphicon-home"></i> <span>Home</span></a></li>
                <li class="active"><span>Search Results for {{result.title}}</span></li>
            </ol>
        </div>
        <!-- / .content-header -->
        {{>search/header_alt}}

        <div class="products">
            <div class="row">
                <div class="col-md-12 col-lg-3">
                    {{>search/filter_table}}
                </div>
                <div class="col-md-12 col-lg-9">
                    {{#each result.data}}
                        {{>search/result_toggle}}
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
    <!-- / .content-wrapper -->

</div>
<!-- / .container-fluid -->

{{> footer}}