{{> header}}

{{> sidenav}}

{{> navbar}}

<div class="container-fluid">

    <section class="content-wrapper">

        <div class="content-header">
            <h1>Settings</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="glyphicon glyphicon-home"></i> <span>Home</span></a></li>
                <li class="active"><span>Settings</span></li>
            </ol>
        </div>
        <!-- / .content-header -->

        <div class="nav-settings">
            <div class="row">
                <div class="col-xs-12">
                    <ul>
                        <li><a href="">My account</a></li>
                        <li><a href="">My customers</a></li>
                        <li>Quote settings</li>
                        <li><a href="">Notification settings</a></li>
                        <li><a href=""><span>Subscription</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <!-- / .nav-settings -->


        <div class="row">
            <div class="col-xs-12">
                <div class="detail-view-header">
                    <h2>Quote No</h2>

                    <div>Date</div>
                </div>
                <!-- /.detail-view-header -->
                <div class="row">
                    <div class="col-xs-7 col-sm-4 col-md-5 col-lg-4 col-xl-2">
                        <div class="panel panel-default panel-dotted panel-disabled">
                            <div class="panel-heading"><span>Client Name X<br>Client Contact</span></div>
                            <div class="panel-body">
                                <address>
                                    Address line 1<br>
                                    Address line 2<br>
                                    Address line 3
                                </address>
                                Tel 011 123 4567<br>
                                Fax 011 123 4567<br>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-6 col-md-offset-1 col-lg-5 col-lg-offset-3 col-xl-4 col-xl-offset-6">
                        <div class="panel panel-default">
                            <div class="panel-heading text-right"><img src="http://placehold.it/200x95?text=LOGO"><a href="" class="btn btn-xs btn-edit">Edit <span class="ti-pencil" aria-hidden="true"></span></a></div>
                            <div class="panel-body text-right">
                                <a href="" class="btn btn-xs btn-edit">Edit <span class="ti-pencil" aria-hidden="true"></span></a>
                                Address line 1, Address line 2, Address line 3<br>
                                Tel 011 123 4567 Fax 011 123 4567<br>
                                <a href="mailto:email.address@amazingcompany.com">email.address@amazingcompany.com</a><br>
                                <a href="http://www.amazingcompany.com">www.amazingcompany.com</a><br>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <div class="cover-letter">
                    <p>Dear [Client Name],</p>

                    <p>Thank you for affording us the opportunity to present you with this quotation. Should you wish to
                        discuss any aspect of this quotation with me, please contact me using the details displayed on
                        the top right-hand corner of this quotation.</p>
                </div>
                <!-- /.cover-letter -->
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                        <tr>
                            <th>Product Code</th>
                            <th>Product Description</th>
                            <th>Status</th>
                            <th>Supplier</th>
                            <th class="text-right">Quantity</th>
                            <th class="text-right">Unit Price (Excl VAT)</th>
                            <th class="text-right">Total (Excl VAT)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-muted">12345</td>
                            <td class="text-muted">Samsung Galaxy S5</td>
                            <td class="text-muted">Dispatched</td>
                            <td class="text-muted">Tarsus</td>
                            <td class="text-right text-muted">1</td>
                            <td class="text-right text-muted">R 900</td>
                            <td class="text-right text-muted">R 900</td>
                        </tr>
                        <tr class="no-border-b">
                            <td colspan="5" class="text-bold">Sub Total (Excluding VAT)</td>
                            <td class="text-right text-bold">R 958.00</td>
                            <td class="text-right text-bold">R 958.00</td>
                        </tr>
                        <tr class="no-border-t">
                            <td colspan="5" class="text-bold">VAT</td>
                            <td class="text-right text-bold">R 20</td>
                            <td class="text-right text-bold">R 20</td>
                        </tr>
                        <tr class="total">
                            <td colspan="5"><span>Total</span></td>
                            <td class="text-right"><span>R 978.00</span></td>
                            <td class="text-right"><span>R 978.00</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
        </div>

    </section>
    <!-- / .content-wrapper -->

</div>
<!-- / .container-fluid -->

{{> footer}}