{{> header}}

{{> sidenav}}

{{> navbar}}

<div class="container-fluid">

    <section class="content-wrapper">

        <div class="content-header">
            <h1>Settings</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="glyphicon glyphicon-home"></i> <span>Home</span></a></li>
                <li class="active"><span>Settings</span></li>
            </ol>
        </div>
        <!-- / .content-header -->

        <div class="nav-settings">
            <div class="row">
                <div class="col-xs-12">
                    <ul>
                        <li>My account</li>
                        <li><a href="">My customers</a></li>
                        <li><a href="">Quote settings</a></li>
                        <li><a href="">Notification settings</a></li>
                        <li><a href=""><span>Subscription</span></a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <!-- / .nav-settings -->

        <div class="row">
            <div class="col-xs-12 col-lg-7">
                <table class="table table-bordered table-settings">
                    <thead>
                    <tr>
                        <th colspan="3">Personal details</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>First Name</th>
                            <td><input type="text" class="form-control" value="Jonathan" placeholder="First Name" disabled  /></td>
                            <td class="action-btn text-right"><a href="#" class="btn btn-info btn-xs btn-edit-settings">Edit <span class="ti-pencil" aria-hidden="true"></span> </a></td>
                        </tr>
                        <tr>
                            <th>Surname</th>
                            <td><input type="text" class="form-control" value="Pienaar" placeholder="Surname" disabled  /></td>
                            <td class="action-btn text-right"><a href="#" class="btn btn-info btn-xs btn-edit-settings">Edit <span class="ti-pencil" aria-hidden="true"></span> </a></td>
                        </tr>
                        <tr>
                            <th>Company Name</th>
                            <td><input type="text" class="form-control" value="" placeholder="Company Name" disabled  /></td>
                            <td class="action-btn text-right"><a href="#" class="btn btn-info btn-xs btn-edit-settings">Edit <span class="ti-pencil" aria-hidden="true"></span> </a></td>
                        </tr>
                        <tr>
                            <th>Email Address</th>
                            <td><input type="email" class="form-control" value="jonathan@emergecore.net" placeholder="Email Address" disabled  /></td>
                            <td class="action-btn text-right"><a href="#" class="btn btn-info btn-xs btn-edit-settings">Edit <span class="ti-pencil" aria-hidden="true"></span> </a></td>
                        </tr>
                        <tr>
                            <th>Delivery Address</th>
                            <td><input type="text" class="form-control" value="" placeholder="Street/Unit/Building no" disabled  /></td>
                            <td class="action-btn text-right"><a href="#" class="btn btn-info btn-xs btn-edit-settings">Edit <span class="ti-pencil" aria-hidden="true"></span> </a></td>
                        </tr>
                        <tr>
                            <th class="spacer"></th>
                            <td><input type="text" class="form-control" value="" placeholder="Street name" disabled  /></td>
                            <td class="action-btn text-right"><a href="#" class="btn btn-info btn-xs btn-edit-settings">Edit <span class="ti-pencil" aria-hidden="true"></span> </a></td>
                        </tr>
                        <tr>
                            <th class="spacer"></th>
                            <td><input type="text" class="form-control" value="" placeholder="Suburb/District" disabled  /></td>
                            <td class="action-btn text-right"><a href="#" class="btn btn-info btn-xs btn-edit-settings">Edit <span class="ti-pencil" aria-hidden="true"></span> </a></td>
                        </tr>
                        <tr>
                            <th class="spacer"></th>
                            <td><input type="text" class="form-control" value="" placeholder="City/Town" disabled /></td>
                            <td class="action-btn text-right"><a href="#" class="btn btn-info btn-xs btn-edit-settings">Edit <span class="ti-pencil" aria-hidden="true"></span> </a></td>
                        </tr>
                        <tr>
                            <th class="spacer"></th>
                            <td><input type="text" class="form-control" value="" placeholder="Postal Code" disabled /></td>
                            <td class="action-btn text-right"><a href="#" class="btn btn-info btn-xs btn-edit-settings">Edit <span class="ti-pencil" aria-hidden="true"></span> </a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-xs-12 col-lg-5">
                <table class="table table-bordered table-settings">
                    <thead>
                    <tr>
                        <th colspan="2">Credit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Credit Limit</th>
                        <td class="text-disabled">R100 000</td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-settings">
                    <thead>
                    <tr>
                        <th colspan="3">Payment Terms</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Terms</th>
                        <td class="text-disabled" nowrap>Apply for 30 day account</td>
                        <td><a href="#" class="apply-now" nowrap>Apply Now</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.row -->

    </section>
    <!-- / .content-wrapper -->

</div>
<!-- / .container-fluid -->

{{> footer}}