{{> header}}

{{> sidenav}}

{{> navbar}}

<div class="container-fluid">

    <section class="content-wrapper">

        <div class="content-header">
            <h1>Settings</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="glyphicon glyphicon-home"></i> <span>Home</span></a></li>
                <li class="active"><span>Settings</span></li>
            </ol>
        </div>
        <!-- / .content-header -->

        <div class="nav-settings">
            <div class="row">
                <div class="col-xs-12">
                    <ul>
                        <li><a href="">My account</a></li>
                        <li><a href="">My customers</a></li>
                        <li><a href="">Quote settings</a></li>
                        <li><a href="">Notification settings</a></li>
                        <li><span>Subscription</span></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <!-- / .nav-settings -->

        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-6">
                <table class="table table-bordered table-settings">
                    <thead>
                    <tr>
                        <th colspan="2">Subscription Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Subscription Type</th>
                        <td>Trial</td>
                    </tr>
                    <tr>
                        <th>Period Remaining</th>
                        <td>5 Days</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-6">
                <div class="panel panel-subscription">
                    <div class="panel-body">
                        To continue enjoying all the features of the marketplace please upgrade to a pro subscription.
                    </div>
                    <div class="panel-footer text-right">
                        <a href="" class="btn btn-info btn-lg btn-icon gradient">
                            <span>Subscribe Now</span>  <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </section>
    <!-- / .content-wrapper -->

</div>
<!-- / .container-fluid -->

{{> footer}}