{{> header}}

{{> sidenav}}

{{> navbar}}

<div class="container-fluid">

    <section class="content-wrapper">

        <div class="content-header">
            <h1>Settings</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="glyphicon glyphicon-home"></i> <span>Home</span></a></li>
                <li class="active"><span>Settings</span></li>
            </ol>
        </div>
        <!-- / .content-header -->

        <div class="nav-settings">
            <div class="row">
                <div class="col-xs-12">
                    <ul>
                        <li><a href="">My account</a></li>
                        <li>My customers</li>
                        <li><a href="">Quote settings</a></li>
                        <li><a href="">Notification settings</a></li>
                        <li><a href=""><span>Subscription</span></a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <!-- / .nav-settings -->

        <div class="row">
            <div class="col-xs-12 col-lg-5">

                <table class="table table-bordered table-settings">
                    <thead>
                    <tr>
                        <th colspan="2">My Customers</th>
                    </tr>
                    </thead>
                    {{#each customers}}
                    <thead class="index-header">
                    <tr>
                        <th colspan="2">{{ label }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each rows}}
                    <tr>
                        <th>{{company}} - {{name}}</th>
                        <td class="action-btn text-right"><a href="#" class="btn btn-info btn-xs">Edit <span class="ti-pencil" aria-hidden="true"></span> </a></td>
                    </tr>
                    {{/each}}
                    </tbody>
                    {{/each}}
                </table>

            </div>
            <div class="col-xs-12 col-lg-7">
                <table class="table table-bordered table-settings">
                    <thead>
                    <tr>
                        <th colspan="3">Add a new customer</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Customer Name</th>
                        <td><input type="text" class="form-control" value="" placeholder="Name surname" disabled/></td>
                        <td class="action-btn text-right"><a href="#" class="btn btn-info btn-xs btn-edit-settings">Edit <span class="ti-pencil" aria-hidden="true"></span> </a></td>
                    </tr>
                    <tr>
                        <th>Customer Contact</th>
                        <td><input type="text" class="form-control" value="" placeholder="Name surname" disabled/></td>
                        <td class="action-btn text-right"><a href="#" class="btn btn-info btn-xs btn-edit-settings">Edit <span class="ti-pencil" aria-hidden="true"></span> </a></td>
                    </tr>
                    <tr>
                        <th>Unique Customer Code</th>
                        <td><input type="text" class="form-control" value="" placeholder="Company Name" disabled/></td>
                        <td class="action-btn text-right"><a href="#" class="btn btn-info btn-xs btn-edit-settings">Edit <span class="ti-pencil" aria-hidden="true"></span> </a></td>
                    </tr>
                    <tr>
                        <th>Customer Email Address</th>
                        <td><input type="email" class="form-control" value="jonathan@emergecore.net" placeholder="Email Address" disabled/></td>
                        <td class="action-btn text-right"><a href="#" class="btn btn-info btn-xs btn-edit-settings">Edit <span class="ti-pencil" aria-hidden="true"></span> </a></td>
                    </tr>
                    <tr>
                        <th>Customer Address</th>
                        <td><input type="text" class="form-control" value="" placeholder="Street/Unit/Building no" disabled/></td>
                        <td class="action-btn text-right"><a href="#" class="btn btn-info btn-xs btn-edit-settings">Edit <span class="ti-pencil" aria-hidden="true"></span> </a></td>
                    </tr>
                    <tr>
                        <th class="spacer"></th>
                        <td><input type="text" class="form-control" value="" placeholder="Street name" disabled/></td>
                        <td class="action-btn text-right"><a href="#" class="btn btn-info btn-xs btn-edit-settings">Edit <span class="ti-pencil" aria-hidden="true"></span> </a></td>
                    </tr>
                    <tr>
                        <th class="spacer"></th>
                        <td><input type="text" class="form-control" value="" placeholder="Suburb/District" disabled/></td>
                        <td class="action-btn text-right"><a href="#" class="btn btn-info btn-xs btn-edit-settings">Edit <span class="ti-pencil" aria-hidden="true"></span> </a></td>
                    </tr>
                    <tr>
                        <th class="spacer"></th>
                        <td><input type="text" class="form-control" value="" placeholder="City/Town" disabled/></td>
                        <td class="action-btn text-right"><a href="#" class="btn btn-info btn-xs btn-edit-settings">Edit <span class="ti-pencil" aria-hidden="true"></span> </a></td>
                    </tr>
                    <tr>
                        <th class="spacer"></th>
                        <td><input type="text" class="form-control" value="" placeholder="Postal Code" disabled/></td>
                        <td class="action-btn text-right"><a href="#" class="btn btn-info btn-xs btn-edit-settings">Edit <span class="ti-pencil" aria-hidden="true"></span> </a></td>
                    </tr>
                    <tr>
                        <th>Customer Tel No</th>
                        <td><input type="text" class="form-control" value="" placeholder="Tel No" disabled/></td>
                        <td class="action-btn text-right"><a href="#" class="btn btn-info btn-xs btn-edit-settings">Edit <span class="ti-pencil" aria-hidden="true"></span> </a></td>
                    </tr>

                    </tbody>
                </table>
                <button class="btn btn-info btn-lg btn-icon gradient pull-right"><span>Add Customer</span>   <i class="fa fa-angle-right"></i></button>
            </div>

        </div>
        <!-- /.row -->

    </section>
    <!-- / .content-wrapper -->

</div>
<!-- / .container-fluid -->

{{> footer}}