{{> header}}

{{> navbar}}

<div class="container-fluid">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Hi there, we need a few details to get you started.</h1>
                        <div class="row">
                            <div class="col-lg-4 col-lg-offset-4">
                                <form class="signup-form">
                                    <div class="form-group hide-label">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" id="name" placeholder="Name">
                                    </div>
                                    <div class="form-group hide-label has-error">
                                        <label for="email">Email address</label>
                                        <input type="email" class="form-control" id="email" placeholder="Email Address">
                                    </div>
                                    <div class="form-group hide-label">
                                        <label for="number">Contact Number</label>
                                        <input type="text" class="form-control" id="number" placeholder="Contact Number">
                                    </div>
                                    <div class="form-group hide-label">
                                        <label for="password">Password</label>
                                        <input type="password" class="form-control" id="password" placeholder="Password">
                                    </div>
                                    <div class="form-group hide-label">
                                        <label for="repeatpassword">Repeat Password</label>
                                        <input type="password" class="form-control" id="repeatpassword" placeholder="Repeat Password">
                                    </div>
                                    <button type="submit" class="btn btn-danger btn-wide gradient pull-right">Let's go.</button>
                                </form>
                            </div>
                        </div>
                </div>
            </div>
        </div>
</div><!-- / .container-fluid -->

{{> footer}}