{{> header}}

{{> sidenav}}

{{> navbar}}

<div class="container-fluid">

    <section class="content-wrapper">

        <div class="content-header">
            <h1>{{product.title}}</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="glyphicon glyphicon-home"></i> <span>Home</span></a></li>
                <li><a href="#"><span>Products</span></a></li>
                <li><a href="#"><span>{{product.category.parent}}</span></a></li>
                <li class="active"><span>{{product.category.child}}</span></li>
            </ol>
        </div>
        <!-- / .content-header -->

        <div class="row single-product-details">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                {{>products/images}}
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-5">
                {{>products/content}}
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-3">
                {{>products/info}}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                {{>products/tech_specs}}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                {{>products/related}}
            </div>
        </div>
    </section>
    <!-- / .content-wrapper -->

</div>
<!-- / .container-fluid -->

{{> footer}}