{{> header}}

{{> sidenav}}

{{> navbar}}

<div class="container-fluid">

    <section class="content-wrapper">

        <div class="content-header">
            <h1>Training</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="glyphicon glyphicon-home"></i> <span>Home</span></a></li>
                <li class="active"><span>Training</span></li>
            </ol>
        </div>
        <!-- / .content-header -->

        <div class="media-block">
            <div class="row">
                <div class="col-sm-12 col-md-8 col-lg-4">
                    <h4>The Basics</h4>
                    <p class="text-primary">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum urna vel sollicitudin porttitor. Donec diam lorem,
                        ullamcorper vel orci quis, aliquet molestie est. Suspendisse feugiat posuere purus nec ornare. Pellentesque eleifend
                        congue dolor sed tincidunt. Aliquam dapibus nibh ac metus placerat egestas.
                    </p>
                    <ul class="double-angle-ul">
                        <li>Bullet point here</li>
                        <li>Bullet point here</li>
                        <li>Bullet point here</li>
                        <li>Bullet point here</li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-8">
                    <div class="embed-responsive embed-responsive-16by9 embed-training">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vmPCKcvRRkY"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!-- / .media-block -->

        <div class="media-block">
            <h4>More Training Videos</h4>
            <hr>
            <div class="row">
                <div class="col-sm-12 col-md-8 col-lg-4">
                    <p class="text-info"><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum urna vel sollicitudin porttitor</small></p>
                    <ul class="double-angle-ul">
                        <li>Quotes</li>
                        <li>Orders</li>
                        <li>Premium subscription</li>
                        <li>FAQ</li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-8">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-4">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qgT20o_tjeE"></iframe>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-4">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5IcinqTL5m8"></iframe>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-4">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SAXRJPbT-5M"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / .media-block -->

    </section>
    <!-- / .content-wrapper -->

</div>
<!-- / .container-fluid -->

{{> footer}}