{{> header}}

{{> sidenav}}

{{> navbar}}

<div class="container-fluid">

    <section class="content-wrapper">

        <div class="content-header">
            <h1>Product Categories</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="glyphicon glyphicon-home"></i> <span>Home</span></a></li>
                <li class="active"><span>Products</span></li>
            </ol>
        </div>
        <!-- / .content-header -->
        {{>categories/column_list}}

        {{>carousel/wrapper}}

    </section>
    <!-- / .content-wrapper -->

</div>
<!-- / .container-fluid -->
{{>walkthrough}}
{{> footer}}