/* Badges
 ******
 ******/

.navbar-right > li .badge {
  width: 20px;
  height: 20px;
  padding: 0;
  line-height: 20px;
  position: absolute;
  top: -10px;
  right: -15px;
}

.badge-info {
  background-color: $brand-info;
}

.badge-danger {
  background-color: $brand-danger;
}