/* Base styles
 ******
 ******/

body,
html {
  padding: 0;
  margin: 0;
}

body {
  padding-left: ($side-nav-closed-width);
  padding-top: 145px;
}

body.sidebar-open {
  padding-left: ($side-nav-open-width);
}

body {
  @include clearfix();
}

.ie8 body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Headers */

h1,
h2,
h3,
h4,
h5,
h6 {
  outline: none;
}

h4 {
  color: #002C3A;
  font-size: 18px;
  font-weight: 300;
  margin: 0 0 10px 0;
}

hr {
  border: 0;
  border-bottom: 1px dashed #b1c8ea;
  background: none;
  margin: 0;
  padding: 0;
}


ul.double-angle-ul {
  color: #668089;
  font-size: 13px;
  padding: 0;
  margin: 15px 0 15px 0;

  li {
    list-style: none;
    padding: 0 0 0 13px;
    margin: 0;
    margin-bottom: 2px;
    position: relative;
  }

  li:before {
    position: absolute;
    top: -2px;
    left: 0;
    content: "\0BB \020";
    font-size: 13px;
    color: $link-color;
    margin-right: 5px;
    display: inline-block;
  }

}

p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
}

.content-wrapper {
  margin: 0 80px 75px 80px;
}

.content-header h1 {
  text-transform: uppercase;
  margin-top: 0;
  padding-bottom: 8px;
  margin-bottom: 7px;
  border-bottom: 1px dashed #b1c8ea;
}

// The .row-eq-height class uses CSS3's flexbox layout mode, which is not supported in Internet Explorer 9 and below.
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex: 1 1 auto;
  margin-left: -16px;
  margin-right: -16px;
}

// Contextual colors
.text-muted {
  color: $text-muted;
}

.text-disabled {
  color: $text-disabled;
}

@include text-emphasis-variant('.text-primary', $brand-primary);
@include text-emphasis-variant('.text-info', $brand-info);
@include text-emphasis-variant('.text-success', $state-success-text);
@include text-emphasis-variant('.text-warning', $state-warning-text);
@include text-emphasis-variant('.text-danger', $state-danger-text);

// Media block
.media-block {
  margin-bottom: 20px;

  hr {
    margin-bottom: 15px;
  }

  .row h4 {
    margin-top: 30px;
  }

  .embed-responsive {
    margin-bottom: 10px;
  }

  /* Medium devices*/
  @media (max-width: $screen-lg) and (min-width: $screen-lg-min) {
    .embed-responsive.embed-training {
      margin-top: 55px;
    }
  }

  /* Medium devices*/
  @media (max-width: $screen-md) and (min-width: $screen-md-min) {
    .embed-responsive.embed-training {
      margin-top: 55px;
    }
  }

}

// Content wrapper padding

/* Large devices*/
@media (max-width: 1270px) {
  .content-wrapper {
    margin: 0 40px 75px 40px;
  }
}

/* Medium devices*/
@media (max-width: $screen-md) {
  .content-wrapper {
    margin: 0 30px 75px 30px;
  }
}

/* Small devices*/
@media (max-width: $screen-sm) {
  .content-wrapper {
    margin: 0 20px 75px 20px;
  }
}

/* Extra small devices*/
@media (max-width: $screen-xs) {
  .content-wrapper {
    margin: 0 10px 75px 10px;
  }
}
