//** File name for all font files.
$icon-brand-name: "brand" !default;
//** Element ID within SVG icon file.
$icon-brand-svg-id: "brand" !default;

@font-face {
  font-family: 'brand';
  src:url('#{$icon-brand-path}#{$icon-brand-name}.eot?f2xf06');
  src:url('#{$icon-brand-path}#{$icon-brand-name}.eot?#iefixf2xf06') format('embedded-opentype'),
  url('#{$icon-brand-path}#{$icon-brand-name}.ttf?f2xf06') format('truetype'),
  url('#{$icon-brand-path}#{$icon-brand-name}.woff?f2xf06') format('woff'),
  url('#{$icon-brand-path}#{$icon-brand-name}.svg?f2xf06#brand') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="brand-"]:before,
[class*="brand-"]:before {
  font-family: "brand";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.brand-acer:before {
  content: "\e600";
}
.brand-apple:before {
  content: "\e601";
}
.brand-asus:before {
  content: "\e602";
}
.brand-dell:before {
  content: "\e603";
}
.brand-gigabyte:before {
  content: "\e604";
}
.brand-hp:before {
  content: "\e605";
}
.brand-lenovo:before {
  content: "\e606";
}
.brand-msi:before {
  content: "\e607";
}
.brand-samsung:before {
  content: "\e608";
}
