/* Breadcrumbs
 ******
 ******/

.breadcrumb {
  text-transform: uppercase;
  font-size: 10px;
}

.breadcrumb li {
  vertical-align: text-top;
}

.breadcrumb > li + li:before {
  content: "#{$breadcrumb-separator}";
}

.breadcrumb i {
  color: $brand-info;
  margin-right: 3px;
  display: inline-block;
  vertical-align: text-top;
}

.breadcrumb span {
  display: inline-block;
  vertical-align: text-top;
}

.breadcrumb a {
  color: $breadcrumb-color;
  display: inline-block;
}

.breadcrumb a:hover {
  color: $brand-info;
}

.breadcrumb > .active {
  font-weight: 700;
}