/* Buttons
 ******
 ******/

$btn-dark-color: #fff;
$btn-dark-bg: #005774;

@mixin shiftGradient($start, $end) {
  background: -moz-linear-gradient(top, $start 50%, $end 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, $start), color-stop(50%, $end)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $start 50%, $end 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $start 50%, $end 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $start 50%, $end 50%); /* IE10+ */
  background: linear-gradient(to bottom, $start 50%, $end 50%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$end', GradientType=0); /* IE6-9 */
}

.btn {
  text-transform: uppercase;
}

$btn-font-weight: normal;

$btn-default-color: #333;
$btn-default-bg: #fff;
$btn-default-border: #ccc;

$btn-info-bg: $brand-info;
$btn-danger-bg: $brand-danger;

$btn-link-disabled-color: $gray-light;

.btn-dark {
  @include button-variant($btn-dark-color, $btn-dark-bg, $btn-default-border);
}

.btn-dark.gradient {
  @include shiftGradient($btn-dark-bg, #004157);
}

.btn-danger.gradient {
  @include shiftGradient($btn-danger-bg, #dd4250);
}

.btn-info.gradient {
  @include shiftGradient($btn-info-bg, darken($btn-info-bg, 4%));
}

.btn.raised {
  box-shadow: 0 3px 0 0 darken($brand-default, 3%);
}

.btn-wide {
  @include button-size($padding-large-vertical, $padding-large-horizontal*3, $font-size-large, $line-height-large, $btn-border-radius-large);
}

.btn-icon {
    text-align: left;
    border: none;
    position: relative;

    span {
      margin-right: 12px;
    }

    i {
      font-size: 20px;
      position: absolute;
      top: 48%;
      right: 10px;
      transform: translate(0, -48%);
    }
}