$cart-controls-height: 45px;

.cart-controls {
  .cart-spinner-group {
    border: 1px solid #d4dde3;
    color: $white;
    padding: 2px;
    height: $cart-controls-height;

    input[type="text"], button {
      border: 0;
      margin: 0;
    }

    button {
      background: #d4dde3;
    }

    button:hover {
      background: $brand-primary;
    }

  }
}

/* Horizontal text controls */
.cart-controls-horizontal-group {
  width: 100%;
  border-bottom: 3px solid #184b5d;
  border-top: 3px solid #002735;
}

/* Horizontal controls */
.cart-controls-horizontal {
  max-width: 290px;
  min-width: 202px;

  .row {
    margin: 0;
  }

  [class^="col-"],
  [class*="col-"] {
    padding-left: 2px;
    padding-right: 2px;
  }

  .cart-spinner-group {
    width: 100%;
    background: #ffffff;
    float: left;

    input[type="text"], button {
      float: left;
      display: block;
    }

    input[type="text"] {
      width: 60%;
      height: 100%;
      padding: 0 6px;
      text-align: center;
      box-shadow: none;
    }

    button {
      font-size: 10px;
      width: 20%;
      height: 100%;
      color: $white;
      padding: 6px 0;
    }

  }

  .cart-button-group {
    float: left;
    height: $cart-controls-height;

    button {
      height: 100%;
      float: left;
      display: block;
      margin-left: 5px;
    }
  }

}

/* Stacked controls */
.cart-controls-stacked {
  max-width: 200px;
  margin: 0 auto;


    .row {
      margin: 0;
    }

    [class^="col-"],
    [class*="col-"] {
      padding-left: 2px;
      padding-right: 2px;
    }


    .cart-spinner-group {
      width: 100%;
      height: 100%;
      background: #ffffff;
      float: left;
      margin-bottom: 10px;

      input[type="text"], button {
        position: static;
        display: block;
      }

      input[type="text"] {
        width: 100%;
        padding: 0 6px;
        text-align: center;
        box-shadow: none;
      }

      button {
        font-size: 8px;
        width: 100%;
        color: $white;
        padding: 3px 0;
      }

    }

    .cart-button-group {
      float: right;
      width: 100%;

      button {
        margin-bottom: 7px;
        padding-left: 0;
        padding-right: 0;

        .glyphicon {
          margin-right: 3px;
        }

      }

    }
}

.btn.icon-overlay {
  position: relative;
  width: 43px;

  span,
  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }

  span {
    z-index: 200;
  }
}

.btn-info.icon-overlay i {
  color: #006D7D;
}

.btn-danger.icon-overlay i {
  color: #C94151;
}

/* XLarge devices*/
@media (min-width: $screen-xl) {

  .cart-controls-stacked {
    width: 70%;
  }

  .col-xs-12.col .thumbnail .col-controls .cart-controls-stacked {
    width: 80%;
    margin: 0;
  }

}
