/* Custom variables and Bootstrap overrides
 ******
 ******/

/* Paths */
$fonts-path: "../fonts";
$images-path: "../images";

/* Font-Awesome fonts path */
$fa-font-path: "#{$fonts-path}/font-awesome";

/* Glyphicons fonts path */
$icon-font-path: "#{$fonts-path}/glyphicons/";

/* Hologram fonts path */
$icon-hf-path: "#{$fonts-path}/fontastic-hologram/";

/* Themify fonts path */
$icon-themify-path: "#{$fonts-path}/themify-icons/";

/* Brand fonts path */
$icon-brand-path: "#{$fonts-path}/brand/";

/* Default colours */
/* Whites and greys */
$white: #f9fbff;
$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%); // #222

$gray-light:             #bdc8cc;
$gray-lighter:           #D6DEE5;
$gray:                   darken($gray-light, 30%); //
$gray-dark:              darken($gray-light, 50%);   //


/* Brand colours */
$brand-default: #002530;
$brand-primary: #337990;
$brand-danger: #EF5361;
$brand-info: #0091A7;

$brand-success: #5cb85c;
$brand-warning: #f0ad4e;

/* Global text */
$text-color: lighten($brand-default, 4%);
$link-color: #33A7B9;
$link-hover-color: #205f82;
$link-hover-decoration: none;
$text-muted: #668089;
$text-disabled: #D6DEE5;

/* Placeholder text color */
$input-color-placeholder: #668089;

/* Typography */
$font-family-base: 'Lato', sans-serif;

$font-size-base: 12px;
$font-size-large: ceil(($font-size-base * 1.25)); //
$font-size-small: ceil(($font-size-base * 0.85)); //

$font-size-h1: ceil(($font-size-base * 2.2)); // ~27px
$font-size-h2: floor(($font-size-base * 2.15)); //
$font-size-h3: ceil(($font-size-base * 1.7)); //
$font-size-h4: ceil(($font-size-base * 1.25)); //
$font-size-h5: $font-size-base;
$font-size-h6: ceil(($font-size-base * 0.85)); //

//** Unit-less `line-height` for use in components like buttons.
$line-height-base: 1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed: floor(($font-size-base * $line-height-base)); // ~20px

/* Custom hologram icon default size */
$icon-hf-size-base: 27px;

/* Border radius */
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

/* Headings */
$headings-font-family: inherit;
$headings-font-weight: 300;
$headings-line-height: 1.1;
$headings-color: $brand-default;

/* Breadcrumbs */
$breadcrumb-padding-vertical: 0;
$breadcrumb-padding-horizontal: 0;
$breadcrumb-bg: transparent;
$breadcrumb-color: #668089;
$breadcrumb-active-color: $breadcrumb-color;
$breadcrumb-separator: "\00BB";

/* Default nav */
$navbar-default-color: $white;
$navbar-default-link-color: $white;
$navbar-default-link-hover-color: $brand-info;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-color: $navbar-default-link-hover-color;
$navbar-default-link-active-bg: transparent;
$navbar-default-border: 0;
$navbar-default-border: $gray-lighter;
$navbar-default-bg: $brand-default;
$navbar-border-radius: 0;
$navbar-height: 75px;

/* Side nav */
$side-nav-open-width: 257px;
$side-nav-closed-width: 96px;
$navbar-inverse-color: $brand-primary;
$navbar-inverse-bg: lighten($brand-default, 2%);
$navbar-inverse-border: darken($brand-default, 3%);

$navbar-inverse-link-color: $white;
$navbar-inverse-link-hover-color: $brand-danger;
$navbar-inverse-link-active-color: $navbar-inverse-link-hover-color;
$navbar-inverse-link-active-bg: transparent;

$navbar-inverse-icon-color: $brand-primary;

/* Dropdown menu container and contents */
$dropdown-bg: #fff;
//$dropdown-border: rgba(0,0,0,.15);
$dropdown-fallback-border: #ccc;
$dropdown-divider-bg: #e5e5e5;
$dropdown-link-color: $gray-dark;
$dropdown-link-hover-color: darken($gray-dark, 5%);
$dropdown-link-hover-bg: #f5f5f5;
$dropdown-link-disabled-color: $gray-light;
$dropdown-header-color: $gray-light;
$dropdown-caret-color: #000;

/* Tables*/
$table-cell-padding: 8px;
$table-condensed-cell-padding: 5px;
$table-bg: transparent;
$table-bg-accent: #f4f7f9;
$table-bg-hover: #f0f4f5;
$table-bg-active: $table-bg-hover;
$table-border-color: #ddd;


/* Panels*/
$panel-bg:                    #fff;
$panel-body-padding:          15px 0 15px 10px;
$panel-heading-padding:       0;


/* Screen sizes */
$screen-xs:                  480px;
$screen-xs-min:              $screen-xs;
$screen-phone:               $screen-xs-min;

$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
$screen-tablet:              $screen-sm-min;

$screen-md:                  992px;
$screen-md-min:              $screen-md;
$screen-desktop:             $screen-md-min;

$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;
$screen-lg-desktop:          $screen-lg-min;

$screen-xl:                  1600px;
$screen-xl-min:              $screen-xl;
$screen-xl-desktop:          $screen-xl-min;


// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);
$screen-lg-max:              ($screen-xl-min - 1);




















