/* Detail View
 ******
 ******/

.detail-view-header {
  background: $brand-info;
  padding: 15px 10px;
  text-transform: uppercase;
  color: $brand-default;
  font-size: 12px;
  margin: 10px 0;
}

.detail-view-header.orders {
    background-color: $brand-danger;
}

.detail-view-header h2 {
  padding: 0;
  margin: 0 0 10px 0;
  color: $white;
  font-size: 15px;
  font-weight: 400;
}

.cover-letter {
  font-size: 13px;
  color: #668089;
}