/* Contact form styling
 ******
 ******/

.contact-form .form-inline {

  .form-group {
    display: block;
    margin-right: 5px;
  }

  .row {
    margin: 0;
  }

  [class^="col-"],
  [class*="col-"] {
    padding-left: 0;
    padding-right: 5px;
  }

  /* Medium devices*/
  @media (max-width: $screen-md) {
    [class^="col-"],
    [class*="col-"] {
      padding-right: 0;
    }
  }

  .form-control {
    width: 100%;
    display: block;
    margin-bottom: 15px;
  }
}