/* Order form
 ******
 ******/

.form-group.payment-method {

  label {
    margin: 10px 0;
    color: #668089;
    font-size: 13px;
    font-weight: 400;
  }

  input {
    margin-right: 10px;
  }

  /* Large devices*/
  @media (max-width: $screen-lg) {
    img {
      position: relative;
      margin-top: 0;
    }
  }

  /* Medium devices*/
  @media (max-width: $screen-md) {
    img {
      position: relative;
      margin-top: -30px;
      margin-bottom: 10px;
    }
  }

  /* Small devices*/
  @media (max-width: $screen-sm) {
    img {
      position: relative;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  /* Extra small devices*/
  @media (max-width: $screen-xs) {
    img {
      position: relative;
      margin-top: -30px;
      margin-bottom: 10px;
    }
  }

}

.form-group.shipping-details {

  .form-control {
    border: 1px solid #B2C8E8;
    font-size: 13px;
  }

}

.order-directive {
  margin-top: 20px;
}