/* ---------------------------------------------------------------------- */
/*  Form elements
/* ---------------------------------------------------------------------- */

.checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
}

.radio label.radio-inline, .checkbox label.checkbox-inline {
    display: inline-block;
}

.radio-inline, .radio-inline + .radio-inline {
    margin-right: 10px !important;
    margin-top: 5px !important;
    margin-left: 0 !important;
    margin-bottom: 0;
}

.checkbox-inline, .checkbox-inline + .checkbox-inline, {
    //margin-right: 10px !important;
    //margin-top: 5px !important;
    //margin-left: 0 !important;
    //margin-bottom: 10px !important;
}

.checkbox-table {
    display: inline-block;
    //margin: 2px 0 0 0;
    //line-height: 10px;
}

.checkbox-table label {
    margin-bottom: 0;
    margin-top: 0;
}

input[type="radio"], input[type="checkbox"] {
    box-sizing: border-box;
    cursor: pointer;
    line-height: normal;
}

.clip-check {
    //margin-bottom: 10px;
    //margin-top: 10px;
    padding-left: 0;

    label {
        cursor: pointer;
        display: inline-block;
        font-size: 13px;
        padding-left: 30px !important;
        position: relative;
        line-height: 23px;
        transition: border 0.2s linear 0s, color 0.2s linear 0s;
        white-space: nowrap;
        margin-top: 0;

        &:before {
            background-color: #E4ECF1;
            border: 1px solid #E4ECF1;
            content: "";
            display: inline-block;
            height: 18px;
            width: 18px;
            left: 0;
            margin-right: 10px;
            position: absolute;
            border-radius: 0;
            top: 1px;
            transition: border 0.2s linear 0s, color 0.2s linear 0s;
        }

        &:after {
            display: inline-block;
            font-size: 10px;
            height: 17px;
            left: 4px;
            position: absolute;
            top: -1px;
            transition: border 0.2s linear 0s, color 0.2s linear 0s;
        }
    }

    input[type="checkbox"] {
        display: none;

        &:checked {

            + label:before {
                border-width: 9px;
            }

            + label:after {
                color: #fff;
                content: "\f00c";
                font-family: "FontAwesome";
            }
        }
    }

    input[type="checkbox"][disabled] {

        + label {
            opacity: 0.65;

            &:before {
                background-color: #F8F8F8;
            }
        }
    }

    &.check-md {
        label {
            margin-right: 15px;
            padding-left: 35px !important;
            line-height: 28px;

            &:before {
                height: 25px;
                width: 25px;
            }

            &:after {
                font-size: 14px;
                height: 24px;
                left: 5px;
                width: 24px;
            }
        }

        input[type="checkbox"] {

            &:checked {

                + label:before {
                    border-width: 12px;
                }
            }
        }
    }

    &.check-lg {
        label {
            margin-right: 15px;
            padding-left: 40px !important;
            line-height: 33px;

            &:before {
                height: 30px;
                width: 30px;
            }

            &:after {
                font-size: 17px;
                height: 29px;
                left: 6px;
                width: 29px;
            }
        }

        input[type="checkbox"] {

            &:checked {

                + label:before {
                    border-width: 15px;
                }
            }
        }
    }
}

.questionnaire-form .clip-check label:before {
    background-color: #00526d;
    border: 1px solid #00526d;
}

.clip-check.check-success input[type="checkbox"]:checked + label:before {
    border-color: $brand-success;
}

.clip-check.check-primary input[type="checkbox"]:checked + label:before {
    border-color: $brand-primary;
}

.clip-check.check-warning input[type="checkbox"]:checked + label:before {
    border-color: $brand-warning;
}

.clip-check.check-danger input[type="checkbox"]:checked + label:before {
    border-color: $brand-danger;
}

.clip-check.check-info input[type="checkbox"]:checked + label:before {
    border-color: $brand-info;
}

.clip-radio {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 0;

    label {
        cursor: pointer;
        display: inline-block;
        font-size: 13px;
        margin-right: 15px;
        padding-left: 25px !important;
        position: relative;
        margin-bottom: 6px;
        line-height: 23px;
        margin-top: 0;

        &:before {
            background-color: #E4ECF1;
            border: 1px solid #E4ECF1;
            content: "";
            display: inline-block;
            height: 18px;
            left: 0;
            margin-right: 10px;
            position: absolute;
            width: 18px;
            border-radius: 99px;
            bottom: 2px;
            transition: all 0.3s cubic-bezier(0.455, 0.03, 0.215, 1.33) 0s;
        }

        &:after {
            border: 1px solid #E4ECF1;
            content: "";
            display: inline-block;
            height: 18px;
            left: 0;
            margin-right: 10px;
            position: absolute;
            width: 18px;
            border-radius: 99px;
            bottom: 2px;
            transition: all 0.3s cubic-bezier(0.455, 0.03, 0.215, 1.33) 0s;
        }
    }

    input[type="radio"] {
        display: none;

        &:checked {
            + label:before {
                border-width: 6px;
                background: #F8F8F8;
                border-color: $white;
            }
        }
    }

    input[type="radio"][disabled] + label {
        opacity: 0.65;
    }

    &.radio-md {
        label {
            padding-left: 30px !important;
            line-height: 28px;

            &:before {
                height: 25px;
                width: 25px;
            }

            &:after {
                height: 25px;
                width: 25px;
            }
        }

        input[type="radio"] {
            display: none;

            &:checked {
                + label:before {
                    border-width: 7px;
                }
            }
        }
    }

    &.radio-lg {
        label {
            padding-left: 35px !important;
            line-height: 33px;

            &:before {
                height: 30px;
                width: 30px;
            }

            &:after {
                height: 30px;
                width: 30px;
            }
        }

        input[type="radio"] {
            display: none;

            &:checked {
                + label:before {
                    border-width: 8px;
                }
            }
        }
    }
}

.clip-radio.radio-success input[type="radio"]:checked + label:before {
    background: $brand-success;
}

.clip-radio.radio-primary input[type="radio"]:checked + label:before {
    background: $brand-primary;
}

.clip-radio.radio-info input[type="radio"]:checked + label:before {
    background: $brand-info;
}

.clip-radio.radio-warning input[type="radio"]:checked + label:before {
    background: $brand-warning;
}

.clip-radio.radio-danger input[type="radio"]:checked + label:before {
    background: $brand-danger;
}