/* Quick Add Form
 ******
 ******/

.form-quick-add {
  margin: 20px 0;
}

.form-quick-add label {
  display: block;
  text-transform: uppercase;
  font-size: 10px;
}

.form-quick-add span.arrow {
  display: block;
  position: relative;
  bottom: -15px;
  padding: 0 5px;
}

.form-quick-add span.arrow.down {
  display: block;
  bottom: 0;
}

.form-quick-add i {
  font-size: 32px;
  color: $brand-info;
}

.form-quick-add .form-control {
  width: 100px;
  font-size: 13px;
}

.form-quick-add .form-control.quantity {
  width: 100px;
}

.form-quick-add .form-control.purchaseorder {
  width: 275px;
}

.form-quick-add .input-group {
  position: relative;
}

.form-quick-add .input-group .input-group-addon {
  background: #E3E9EE;
  color: #668089;
  font-size: 13px;
  width: 122px;
  text-align: left;
}

.form-quick-add .input-group .form-control {
  width: 540px;
  font-size: 12px;
  text-transform: uppercase;
  padding-right: 175px;
}

.form-quick-add .input-group .btn {
  position: absolute;
  right: 6px;
  top: 5px;
  padding: 6px 25px;
}

.form-quick-add .input-group .btn span.glyphicon {
  margin-right: 10px;
}


.form-quick-add #quick-add-prodcode {
  width: 170px;
}

.form-quick-add .dropdown-menu {
  border: 1px solid #B2C8E8;
  width: 170px;
  margin-top: 0;
}

.form-quick-add .dropdown-menu ul {
  margin: 5px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.form-quick-add .dropdown-menu ul li {
  padding: 0 0 0 10px;
  margin: 0 0 5px 0;
  color: $brand-info;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

.form-quick-add .dropdown-menu ul li:hover {
  color: $brand-default;
  cursor: pointer;
}


/* Large devices*/
@media (max-width: 1450px) {

  .form-quick-add .form-control {
    width: 100px;
    font-size: 13px;
  }

  .form-quick-add .input-group .form-control {
    width: 400px;
    padding-right: 110px;
  }

  .form-quick-add .form-control.quantity {
    width: 70px;
  }

  .form-quick-add .input-group .input-group-addon {
    width: 115px;
  }

  .form-quick-add .input-group .btn {
    padding: 6px 15px;
  }

}

/* Medium devices*/
@media (max-width: 1196px) {

  .form-quick-add .form-group {
    display: block;
  }

}

/* Medium devices*/
@media (max-width: $screen-xs) {

  .form-quick-add .input-group .form-control {
    width: 200px;
    padding-right: 50px;
  }

  .form-quick-add .input-group .btn span.glyphicon {
    margin-right: 0;
  }

  .form-quick-add .input-group .btn {
    padding: 6px 5px;
  }

}