/* Default form styling
 ******
 ******/

.form-control {
  border: 1px solid #B2C8E8;
  font-size: 13px;
  color: #668089;
}

label {
  color: #005774;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-top: 10px;
}

label span {
  color: $brand-info;
}