/* Global helper classes
 ******
 ******/


//**   Margins    *****************************************************************************//
// Medium vertical margin
.margin-vt-md {
  margin: 20px 0;
}

// Large vertical margin
.margin-vt-lg {
  margin: 25px 0;
}

//**  Overrides    *****************************************************************************//
.block-override {
  display: block !important;
}

//**  Dotted borders    *****************************************************************************//
// Dotted right border
.border-dashed-r {
  border-right: 1px dashed #B2C8E8;
}

// Dotted left border
.border-dashed-l {
  border-left: 1px dashed #B2C8E8;
}

//**   Text sizes    *****************************************************************************//
// Extra small text
.text-xs {
  font-size: 11px;
}

// Small text
.text-sm {
  font-size: 12px;
}

// Medium text
.text-md {
  font-size: 14px;
}

// Big text
.text-bg {
  font-size: 17px;
}

// Large text
.text-lg {
  font-size: 23px;
}

// Extra large text
.text-xlg {
  font-size: 30px;
}

// Super large text
.text-slg {
  font-size: 50px;
}