@charset "UTF-8";

//** File name for all font files.
$icon-hf-name: "hologram" !default;
//** Element ID within SVG icon file.
$icon-hf-svg-id: "hologram" !default;

@font-face {
  font-family: "hologram";
  src:url('#{$icon-hf-path}#{$icon-hf-name}.eot');
  src:url('#{$icon-hf-path}#{$icon-hf-name}.eot?#iefix') format('embedded-opentype'),
    url('#{$icon-hf-path}#{$icon-hf-name}.woff') format('woff'),
    url('#{$icon-hf-path}#{$icon-hf-name}.ttf') format('truetype'),
    url('#{$icon-font-path}#{$icon-font-name}.svg##{$icon-hf-svg-id}') format('svg');
  font-weight: normal;
  font-style: normal;
}

.hologram {
  font-size: $icon-hf-size-base;
}

[data-icon]:before {
  font-family: "hologram" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "hologram" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hf-bar-chart:before {
  content: "a";
}
.icon-hf-bars:before {
  content: "b";
}
.icon-hf-cog:before {
  content: "c";
}
.icon-hf-envelope:before {
  content: "d";
}
.icon-hf-file-duplicate:before {
  content: "e";
}
.icon-hf-file-text:before {
  content: "f";
}
.icon-hf-search:before {
  content: "g";
}
.icon-hf-th:before {
  content: "h";
}
.icon-hf-truck:before {
  content: "i";
}
.icon-hf-video:before {
  content: "j";
}
