.input-group.jq-pagination {
  width: 298px;
  margin: 0 auto;

  .form-control {
    text-align: center;
    margin-right: 2px;
  }

  .input-group-btn {
    margin: 0;

    .btn {
      padding: 3px 15px;
      margin: 0;
      font-size: 18px;
      font-weight: bold;
      border: 0;
    }
  }

}