/* Megamenu
 *******  */

$megamenu-gutter: 5px;

.mega-dropdown-menu.open {
  display: block;
}

.mega-dropdown-menu {
  padding: 20px 20px 8px 20px;
  width: 99.5%;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin-top: 0;
}

.mega-dropdown-menu .row {
  margin-left: -$megamenu-gutter;
  margin-right: -$megamenu-gutter;
}

.mega-dropdown-menu {
  [class^="col-"],
  [class*="col-"] {
    padding-left: $megamenu-gutter;
    padding-right: $megamenu-gutter;
    margin-bottom: 25px;
  }
}


  .mega-dropdown-menu .row > div > ul {
    padding: 0;
    margin: 0;
  }

  .mega-dropdown-menu .row > div > ul > li {
    list-style: none;
    padding: 0;
    margin: 0;
    text-indent: 3px;
  }

  .mega-dropdown-menu .row > div > ul > li::before {
    content: "\0BB \020";
    font-size: 13px;
    color: $link-color;
  }

  .mega-dropdown-menu .row > div > ul > li.dropdown-header::before {
    content: "";
  }

  .navbar-default .dropdown-menu.mega-dropdown-menu .row > div > ul > li > a {
    display: inline-block;
    color: $link-color;
    text-transform: none;
    font-size: 13px;
    font-weight: 400;
  }

  .navbar-default .dropdown-menu.mega-dropdown-menu .row > div > ul > li > a:hover,
  .navbar-default .dropdown-menu.mega-dropdown-menu .row > div > ul > li > a:focus {
    text-decoration: none;
    color: $white
  }

  .mega-dropdown-menu .row > div > ul > li.dropdown-header {
    font-size: 17px;
    color: $white;
    text-transform: none;
    padding-bottom: 16px;
  }

  .mega-dropdown-menu .col-sm-3:nth-child(4n+1) {
    clear: left;
  }
