/* Quote and Order Modals
 ******
 ******/

.modal.modal-vcenter .modal-content {
  padding: 50px 10px;
}

.modal.modal-vcenter p {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
}

.modal.modal-vcenter p.text-danger {
  color: $brand-danger;
}

.modal.modal-vcenter p.text-info {
  color: $brand-info;
}

.modal.modal-vcenter .modal-footer {
  border-top: 0px;
  text-align: center;
}

/* scroll fixes */
.modal-open .modal {
  padding-left: 0px !important;
  padding-right: 0px !important;
  overflow-y: scroll;
}