/* Nav bottom
 * Includes next and cancel links
 ******
 ******/

.nav-bottom {
  text-transform: uppercase;
  font-size: 17px;
  vertical-align: middle;
}

.nav-bottom a {
  font-size: 10px;
  font-weight: 700;
  color: #004157;
}

.nav-bottom a:hover {
  color: $brand-info;
}

.nav-bottom .btn {
  font-size: 17px;
  position: relative;
  padding-right: 20px;
  color: $brand-info;
  font-weight: 400;
  margin: 7px 0;
}

.nav-bottom .btn.btn-order {
  color: $brand-danger;
}

.nav-bottom .btn:hover {
  color: $link-hover-color;
}

.nav-bottom .btn.pull-right {
  padding-right: 20px;
}

.nav-bottom .btn.pull-left {
  padding-left: 20px;
}

.nav-bottom i {
  font-size: 30px;
  line-height: 33px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  vertical-align: middle;
}

.nav-bottom .btn.pull-left i {
  left: 0;
}

.nav-bottom .btn.pull-right i {
  right: 0;
}