/* Nav bar
 ******
 ******/

.navbar-default {
  border-width: 0;
  padding-right: 80px;
  text-transform: uppercase;
  box-shadow: 0 3px 0 0 rgba(0, 56, 77, 0.2);
}

.navbar-default .dropdown-toggle .caret {
  color: $brand-info;
}

.navbar-default .dropdown-menu {
  box-shadow: none;
  border: none;
  border-top: 4px solid #003346;
  box-shadow: 0 3px 0 0 rgba(0, 56, 77, 0.2);
}

.navbar-default .dropdown-menu {
  background: #004157;
  color: $white;
}

.navbar-default .dropdown-menu a {
  color: $white;
}

.navbar-default .dropdown-menu a:hover {
  color: $navbar-default-link-hover-color;
  background: transparent;
}

/* Search */
.navbar-form {
  float: none;
  margin: 13px 0 9px 32px;
  max-width: 988px;
}

.navbar-form .form-group {
  display: inline;
}

.navbar-form  .form-group .input-group {
  display:table;
}

.navbar-form  .form-group .input-group .input-group-addon  {
  background: none;
}

.navbar-form .input-group .form-control {
  border: 0;
  height: 50px;
  text-transform: uppercase;
}

.navbar-form .input-group .input-group-addon {
  padding: 0;
  margin: 0;
  border: 0;
  width: 1%;
}

.navbar-form .input-group .input-group-addon .caret {
  margin-left: 10px;
}

.navbar-form .input-group .input-group-addon.search-btn {
  background: white;
}

.navbar-form .input-group .form-control:focus,
.navbar-form .input-group .form-control:focus + .search-btn {
  -webkit-box-shadow: none;
  outline: -webkit-focus-ring-color auto 0px;
  background: #E4ECF1;
}

.navbar-form .input-group .input-group-addon .submit {
  border: 0;
  background: none;
}

.navbar-form .input-group .input-group-addon .glyphicon {
  font-size: 22px;
  color: #005774;
}

.navbar-form .input-group .input-group-addon .dropdown-toggle {
  color: $white;
  background: #004157;
  text-transform: uppercase;
  width: 104px;
  height: 50px;
  margin-right: 0;
  border: 0;
}

.search-query:focus + button {
  z-index: 3;
}


/* Right nav */
.navbar-right > li {
  padding: 0;
  margin: 0;
  position: relative;
  line-height: none;
}

.navbar-right .dropdown-menu {
  width: 173px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-right .dropdown-menu > li {
  padding-bottom: 10px;
}

.navbar-right .dropdown-menu > li:last-child {
  padding-bottom: 0;
}

.navbar-right > li.notification a {
  padding-top: 21px;
  padding-bottom: 22px;
  position: relative;
}

.navbar-right > li.notification i {
  display: inline-block;
  color: $brand-primary;
  position: relative;
  font-style: normal;
}

.navbar-right > li.notification i.orders:hover,
.navbar-right > li.notification.selected i.orders {
  color: $brand-danger;
}

.navbar-right > li.notification i.quotes:hover,
.navbar-right > li.notification.selected li i.quotes {
  color: $brand-info;
}

/* Navbar Toggle & Navbar Collapse */
.navbar-default .navbar-toggle {
  border: none;
}

.navbar-toggle {
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px 20px;
  margin: 0;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: none;

  .hologram {
    color: #dcdee3;
  }
}

.navbar-toggle .hologram {
  color: $brand-info;
}

.navbar-default .navbar-collapse {
  border-top: 0;
  box-shadow: none;
}

.navbar-default .navbar-collapse.in {

  .navbar-right li {
    text-align: center;
  }

  .navbar-right > li {
    padding: 10px 0;
  }

  .navbar-right > li a {
    padding: 0;
  }

  .navbar-form {
    margin: 0;
  }

  .navbar-right .dropdown-menu {
    width: 100%;
    background: lighten($brand-default, 5%);
  }

}

.navbar-default .navbar-form {
  border: none;
  box-shadow: none;
}

@media (min-width: $screen-xs) {
  .navbar-default {
    padding-right: 0;
  }
}

@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: 0;
  }
}