/* Side nav
 ******
 ******/

.navbar {
  background-image: none !important;
}

.navbar-twitch {
  position: fixed;
  padding-top: 76px;
  top: 0px;
  left: 0px;
  width: $side-nav-closed-width;
  height: 100%;
  border-radius: 0px;
  border: 0px;
  z-index: $zindex-navbar-fixed;
  border-right: 3px solid darken($brand-default, 3%);
}

.sidebar-open .navbar-twitch {
  width: $side-nav-open-width;
}

.navbar-twitch .container {
  padding: 0px;
  width: 100%;
  border-top: 3px solid darken($brand-default, 4%);
}

.navbar-twitch .navbar-collapse {
  padding: 0px;
}

/* Navbar header and logo */
.navbar-header {
  margin: 0px;
}

.navbar-brand {
  padding: 0px;
  margin: 0px;
  text-align: center;
  height: $navbar-height;
  float: left;
  width: $side-nav-closed-width;
  margin: 0;
}

.navbar-brand img {
  margin: 0px auto;
  display: block;
}

/* Navbar menu links */
.navbar-twitch .navbar-nav {
  float: none;
  margin: 0px;
}

.navbar-twitch .navbar-nav > li {
  float: none;
  padding: 0 20px;
}

.navbar-twitch .navbar-nav > li > a {
  padding: 0;
  border-bottom: 1px dotted darken($navbar-inverse-icon-color, 12%);
}

.navbar-twitch .navbar-nav > a:last-child {
  border-bottom: 0;
}

.navbar-twitch .navbar-nav > li > a > span {
  display: block;
  vertical-align: middle;
  margin: 21px 0 15px 0;
}

.navbar-twitch .navbar-nav > li > a > span > i {
  //font-size: $icon-hf-default-size;
  color: $navbar-inverse-icon-color;
  display: inline-block;
  vertical-align: middle;
  text-indent: 13px;
}

.navbar-twitch .navbar-nav > .active > a > span > i,
.navbar-twitch .navbar-nav > li > a:hover > span > i {
  color: $navbar-inverse-link-hover-color;
}

.navbar-twitch .navbar-nav > li > a > span > span {
  font-size: 12px;
  padding-left: 27px;
  text-transform: uppercase;
  font-weight: 700;
  display: none;
  vertical-align: middle;
}

/* Navbar quick links */
.navbar-twitch .navbar-buttons {
  padding: 0;
  margin: 0 22px;
  margin-bottom: 17px;
  margin-top: 18px;
  border: 0;
}

.navbar-twitch .navbar-buttons .btn {
  border: 0;
  position: relative;
  min-width: 58px;
  height: 40px;
}

.navbar-twitch .navbar-buttons > a {
  margin-bottom: 18px;
  text-transform: uppercase;
}

.navbar-twitch .navbar-buttons > a:last-child {
  margin-bottom: 0;
}

.navbar-twitch .navbar-buttons > a > i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 3px;
}

/* Navbar toogle views */
.navbar-twitch .navbar-nav > li > a > span > span,
.navbar-twitch .navbar-buttons > a > span,
.sidebar-open .navbar-twitch .navbar-buttons > a > i,
.navbar-brand > .logo-full,
.sidebar-open .navbar-brand > .logo-small {
  display: none;
}

.sidebar-open .navbar-twitch .navbar-nav > li > a > span > span,
.sidebar-open .navbar-twitch .navbar-nav > li > a > span > i,
.sidebar-open .navbar-twitch .navbar-buttons > a > span {
  display: inline-block;
}

.navbar-brand .logo-small,
.sidebar-open .navbar-brand > .logo-full {
  display: block;
}

.sidebar-open .navbar-brand {
  width: $side-nav-open-width;
}

/* Navbar toggle button */
.navbar-twitch-toggle {
  background-color: $brand-default;
  color: $navbar-inverse-color;
  border: 0;
  border-radius: 0;
  padding: 0;
  width: 33px;
  height: 29px;
  font-size: 24px;
  line-height: 24px;
  float: left;
  margin: 23px 30px 0 15px;
}

.navbar-twitch-toggle:focus,
.navbar-twitch-toggle:active,
.navbar-twitch-toggle:hover {
  outline: none;
  color: lighten($brand-info, 3%);
}


/* Navbar tool tips */
.navbar-twitch .tooltip,
.navbar-twitch .tooltip .tooltip-inner {
  max-width: auto;
  white-space: nowrap;
}