/* Settings navigation
 ******
 ******/

.nav-settings {
  margin-bottom: 20px;
}

.nav-settings ul {
  padding: 0;
  margin: 0 0 10px 0;
  list-style-type: none;
  font-size: 18px;
  font-weight: 300;
}

.nav-settings li {
  padding: 0;
  margin: 0 20px 0 0;
  display: inline-block;
  color: #004157;
}

.nav-settings li a {
  color: #668089;
}

.nav-settings li a:hover,
.nav-settings li a span:hover {
  color: $link-hover-color;
}

.nav-settings li span {
  font-weight: 700;
  color: $brand-danger;
}

.nav-settings li a span {
  color: $brand-info;
}

/* Medium devices*/
@media (max-width: $screen-md) {
  .nav-settings ul {
    font-size: 14px;
  }
  .nav-settings li {
    margin: 0 10px 0 0;
  }
}

/* Small devices*/
@media (max-width: $screen-sm) {
  .nav-settings li {
    display: block;
    margin-bottom: 10px;
  }
}