/* Overview Filter
 ******
 ******/

$filter-border-color: #b1c8ea;

.overview-filter {
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;

  [class^="col-"],
  [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }

  [class^="col-"]:first-child,
  [class*="col-"]:first-child {
    padding-right: 10px;
  }

  .col-xs-12 {
    padding-right: 0;
  }

  .input-group {

    margin-bottom: 10px;

    .input-group-addon {
      margin: 0;
      padding: 0;
      background: none;
      border: 0;

      .btn {
        margin-right: 10px;
      }

    }

  }

  .btn-group,
  .input-group {
    width: 100%;
  }

  .btn-group .btn {
    color: $input-color-placeholder;
    border: 1px solid $filter-border-color;
    text-transform: uppercase;
    position: relative;

    .caret {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translate(0, -50%);
      color: $brand-info;
    }

    .caret.text-danger {
      color: $brand-danger;
    }

  }

  .btn-group .btn:hover,
  .btn-group .btn:focus {
    background: none;
    color: $link-color;
  }

  .dropdown-menu {
    margin-top: 0;
    width: 100%;
  }

  .dropdown-menu li a {
    color: $input-color-placeholder;
    text-transform: uppercase;
  }

  .dropdown-menu li a:hover {
    color: $link-color;
  }

  .input-group .form-control.search-input {
    border-right: 0;
  }

  .btn.search-submit {
    border: 1px solid $filter-border-color;
    border-left: 0;

    .glyphicon {
      font-size: 13px;
      color: $brand-info;
    }

    .glyphicon.text-danger {
      color: $brand-danger;
    }

  }

}



