/* Panels
 ******
 ******/
.panel.panel-default {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.panel-default .panel-heading {
  border-bottom: 0;
  position: relative;
  background: none;
  border-bottom: none;

  .btn-edit {
    position: absolute;
    top: 0;
    right: 0;
  }

}

.panel-default .panel-heading h3 {
  font-size: 15px;
  text-transform: uppercase;
  color: $brand-danger;
  margin: 30px 0 0 0;
}

.panel-default .panel-heading span {
  color: #005774;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  display: inline-block;
  margin-top: 10px;
}

.panel-default .panel-body {
  color: #668089;
  font-size: 13px;
  position: relative;

  .btn-edit {
    position: absolute;
    bottom: -5px;
    right: 0;
  }
}

.panel-default .panel-body a {
  color: #668089;
}

.panel-default .panel-body a:hover {
  color: $link-hover-color;
}

/* dotted panel */
.panel.panel-default.panel-dotted {
  border: 1px dashed #b1c8ea;
}

.panel.panel-default.panel-dotted .panel-body {
  padding: 15px 0 15px 10px;
}

.panel.panel-default.panel-dotted .panel-heading {
  padding: 0 0 0 10px;
}

/* subscription panel */
.panel.panel-subscription {
  background: #004157;
  color: $white;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 300;
  padding: 30px;
  clear: both;
  position: relative;

  .panel-footer {
    background: transparent;
    clear: both;
    border: 0;

    .btn-icon {

      i {
        font-size: 26px;
      }
    }

  }

}

.panel-disabled .panel-heading span,
.panel-disabled .panel-body {
  color: #E4ECF1;
}

.btn-edit {
  border: 0;
  font-weight: 700;
  text-transform: uppercase;
  background: transparent;
  font-size: 10px;
  color: $brand-info;
}

.btn-edit:hover {
  color: $brand-primary;
}

.panel-default .panel-body a.btn-edit {
  color: $brand-info;
  font-weight: 700;
}

.panel-default .panel-body a.btn-edit:hover {
  color: $brand-primary;
}

