$product-category-item-height: 290px;

.product-categories {

  .category-item {
    margin-bottom: 20px;
    height: $product-category-item-height;
  }

  .category-content {
    text-align: center;
    height: ($product-category-item-height - 40)
  }

  button.category-title {
    text-align: left;
    border: none;
    font-size: 14px;
    position: relative;

    i {
      font-size: 30px;
      color: $brand-info;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translate(0, -50%);
    }

  }

  ul.categories-short {
    padding: 15px 0 10px 0;
    list-style: none;

    li {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 13px;

      a {
        color: #005774;
        font-weight: 400;
      }

      a:hover {
        color: $link-color;
      }

    }

  }

  .dropdown-menu {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    background: rgb(0, 65, 87); /* RGBA Fallback */
    background: rgba(0, 65, 87, 0.9);
  }

  ul.categories-full {
    width: 100%;
    height: ($product-category-item-height - 40);
    padding: 20px 0 0 20px;
    margin: 0;
    color: $white;

    li {
      text-transform: uppercase;
      list-style: none;
      padding: 0;
      margin: 0 0 1px 0;
      font-size: 12px;

      a {
        color: rgb(255, 255, 255); /* RGBA Fallback */
        color: rgba(255, 255, 255, 1);
      }

      a:hover {
        color: lighten($link-color, 2%);
      }

    }

    li::before {
      content: "\0BB \020";
      font-size: 13px;
      color: $link-color;
      margin-right: 7px;
    }

  }

}

