/* Product category questionnaire
 ******
 ******/

.questionnaire {
  margin-bottom: 30px;
}

.questionnaire-header,
.questionnaire-header span{
  color: $white;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  padding: 20px 0;
}

.questionnaire-header {
  border-bottom: 3px solid #00232e;
  background: $brand-default;
  @include shiftGradient($btn-dark-bg, #004157);
}

.questionnaire-header span {
  font-weight: 300;
  padding: 0;
  margin: 0;
}

.questionnaire-body {
  background: #002C3A;
  padding: 0;

  .row-directive {
    margin-left: 0;
    margin-right: 0;
  }
}

.questionnaire-form {
  padding: 10px 20px;
  font-size: 12px;
  text-transform: uppercase;
  color: $brand-info;
  font-weight: 400;

  h6 {
    color: $white;
    font-weight: 700;
    font-size: 12px;
  }

  .clip-check label {
    font-size: 12px;
    text-transform: uppercase;
    color: $brand-info;
    font-weight: 400;
  }

  .clip-check label:hover {
    color: $white;
  }

}

.questionnaire-directive {
  text-transform: uppercase;
  text-align: center;
  padding: 20px 5px;
  font-size: 17px;
  font-weight: 300;
  color: $white;
  background: #02252e;
  margin-right: 16px;
  position: relative;


  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 90%;
  }

}

.preferred-brands {
  margin: 25px 0;

  [class^="brand-"],
  [class*="brand-"] {
    font-size: 30px;
    margin-right: 20px;
  }

  [class^="brand-"]:hover,
  [class*="brand-"]:hover {
    color: $white;
    cursor: pointer;
  }

  .brand-checkbox.checked {
    color: $white;
  }

}

.product-category-brands {

  [class^="brand-"],
  [class*="brand-"] {
    font-size: 50px;
    margin-right: 20px;
    color: #D6DEE5;
  }

  [class^="brand-"]:hover,
  [class*="brand-"]:hover {
    color: $brand-info;
    cursor: pointer;
  }
}

// Slider skin */
.irs {
  height: 80px;
}

.irs-line {
  height: 8px;
  top: 24px;
  border-radius: 0;
  background: #005774;
  border: 1px solid #004c66;
}

.irs-line-left {
  height: 8px;
}

.irs-line-mid {
  height: 8px;
}

.irs-line-right {
  height: 8px;
}

.irs-bar {
  height: 8px;
  top: 24px;
  border-top: 1px solid #c0d3d9;
  border-bottom: 1px solid #c0d3d9;
  background: #FFF;
}

.irs-slider {
  top: 15px;
  width: 27px; height: 27px;
  border: 4px solid #0d7f91;
  background: #0091a7;
  border-radius: 27px;
  -moz-border-radius: 27px;
  cursor: pointer;
}

.irs-slider.state_hover, .irs-slider:hover {
  background: #019cb4;
}

.irs-from, .irs-to, .irs-single {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  border-radius: 0;
  top: 55px;
}
