$carousel-item-height: 241px;
$carousel-control-width: 3%;
$carousel-cart-height: 39px;

.product-carousel {
  width: 94%;
  margin-left: $carousel-control-width;
  margin-right: $carousel-control-width;
}

.carousel-wrapper {

  .controls,
  .controls .btn {
    height: $carousel-item-height;
    width: $carousel-control-width;
    padding: 0;
    margin: 0;
  }

  .btn.btn-carousel {
    border: 0;
    background: rgb(203, 220, 227); /* RGBA Fallback */
    background: rgba(0, 65, 87, 0.3);
    display: table-cell;
    vertical-align: middle;
  }

  .btn.btn-carousel i {
    display:inline-block;
    font-size: 20px;
    color: #00879e;
  }

}

.btn.carousel-title {
  font-size: 13px;
  border: 0;
  cursor: text;
}

$carousel-item-mrg-v: 15px;

.carousel-item {
  height: $carousel-item-height;
  overflow: hidden;
  position: relative;
  text-align: center;

  .content {
    height: 100%;
    text-align: center;
    position: relative;

    .title {
      display: table;
      width: 100%;
      height: 70px;
      margin-bottom: $carousel-item-mrg-v;

      h4 {
        color: #005774;
        font-size: 13px;
        font-weight: 400;
        display: table-cell;
        vertical-align: bottom;
        margin: 0;
      }

    }

    .price {
      font-size: 17px;
      font-weight: 300;
      color: #002C3A;
      margin-bottom: $carousel-item-mrg-v;
    }

  }

  .carousel-hover {
    position: absolute;
    padding: 0;
    top: $carousel-item-height;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    height: $carousel-item-height;

    .content {
      height: $carousel-item-height - ($carousel-cart-height + 6);
      background: rgba(26, 70, 87, 0.8);
    }

    .cart-controls {
      height: $carousel-cart-height;
      padding: 0;
      margin: 0;

      .btn, input {
        margin: 0;
        height: $carousel-cart-height;
      }

    }
  }

}

.carousel-item:hover {

  .content {
    h4, .price {
      opacity: 0;
    }

  }
  .carousel-hover {
    transform: translateY(-$carousel-item-height);
    -webkit-transform: translateY(-$carousel-item-height);
    -moz-transform: translateY(-$carousel-item-height);
    -ms-transform: translateY(-$carousel-item-height);
    -o-transform: translateY(-$carousel-item-height);

    .content {
      h4, .price, p {
        opacity: 1;
        color: #fff;
      }

      h4 a {
        color: $white;
      }

      h4 a:hover {
        color: #52d3e7;
      }

      p {
        font-size: 11px;
        padding: 0 7px;
      }

    }
  }
}

.owl-carousel .owl-item img {
  width: auto;
}