/* Quick Update Actions
 ******
 ******/

.quick-update {
  margin: 15px 0 15px 0;
}

.quick-update .pull-left .btn {
  margin-right: 5px;
}

.quick-update .radio {
  margin-right: 15px;
}

.quick-update .radio label {
  text-transform: uppercase;
  font-size: 12px;
}

.quick-update .radio input {
  margin-right: 5px;
}

.quick-update .form-group .form-control {
  width: 165px;
}

/* Large devices*/
@media (max-width: $screen-lg) {
  .quick-update .btn.btn-stacked {
    display: block;
    margin-bottom: 7px;
  }
}

/* Extra small devices*/
@media (max-width: $screen-xs) {
  .quick-update .btn.btn-inline {
    display: block;
    margin-bottom: 7px;
  }
}

/* Extra small devices*/
@media (min-width: $screen-xs) and (max-width: 900px) {
  .quick-update .btn.btn-stacked {
    display: block;
    margin-bottom: 7px;
  }

  .quick-update .clip-radio {
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    margin-right: 0 !important;
    padding-left: 0;

  }

}