/* Quick steps
 ******
 ******/

.quick-steps {
  margin-bottom: 20px;
}

.quick-steps ol,
.quick-steps ul {
  margin: 0 0 7px 0;
  padding: 0;
  counter-reset: item;
  color: $gray-lighter;
}

.quick-steps ol {
  counter-reset: li;
}

.quick-steps ol li,
.quick-steps ul li {
  padding: 0;
  margin: 0;
  display: inline-block;
  margin-right: 15px;
  text-transform: uppercase;
  font-size: 17px;
  position: relative;
  min-height: 20px;
  vertical-align: middle;
}

.quick-steps ol li {
  padding-left: 35px;
}

.quick-steps ol li.selected {
  color: $brand-info;
}

.quick-steps ol li.order,
.quick-steps ul li.order {
  color: $brand-danger;
}

.quick-steps ol li:before {
  content: counter(li);
  counter-increment: li;
  display: inline-block;
  width: 28px;
  height: 28px;
  position: absolute;
  bottom: -2px;
  left: 0;
  padding-top: 5px;
  text-align: center;
  color: #fff;
  font-size: 11px;
  font-weight: 900;
  text-align: center;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -o-border-radius: 14px;
  -ms-border-radius: 14px;
  border-radius: 14px;
  background: $gray-lighter;
}

.quick-steps ol li.selected:before {
  background: #005774;
}


/* Large devices*/
@media (max-width: 1370px) {
  .quick-steps ol li,
  .quick-steps ul li {
    margin-right: 10px;
    font-size: 15px;
  }
}

/* Medium devices*/
@media (max-width: 1192px) {
  .quick-steps ol li {
    display: block;
    margin-bottom: 15px;
  }
}