.products .col {
  border-bottom: 1px dashed #B2C8E8;
  padding: 0;
  -webkit-transition: width 0.3s ease, margin 0.3s ease;
  -moz-transition: width 0.3s ease, margin 0.3s ease;
  -o-transition: width 0.3s ease, margin 0.3s ease;
  transition: width 0.3s ease, margin 0.3s ease;
}

.thumbnail {
  border: 0;
  border-right: 1px dashed #B2C8E8;
  margin: 0;
  padding: 10px 10px;
  margin: 15px 0;

  .title {
    width: 100%;
    height: 60px !important;
    overflow: hidden;
    margin: 10px 0;

    h4 {
      color: #005774;
      font-size: 13px;
      font-weight: 400;
      text-align: center;
      margin: 0;
    }

    h4 a {
      color: #005774;
    }

    h4 a:hover {
      color: $brand-info;
    }

  }

  .price {
    color: #002C3A;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
  }

  p {
    font-size: 12px;
    color: $text-muted;
    margin-bottom: 15px;
  }

  .details {
    text-transform: uppercase;
    color: #005774;
    font-size: 12px;
    margin-bottom: 20px;

    > span {
      display: block;
    }

    > span > span {
      color: $brand-info;
    }

  }

}

.col-xs-12.col .thumbnail .title h4 {
  text-align: left;
}

.col-xs-12.col .thumbnail .col-xs-12.col-sm-3,
.col-xs-12.col .thumbnail .col-xs-12.col-sm-5,
.col-xs-12.col .thumbnail .col-xs-12.col-sm-4 {

  img {
    margin-left: auto;
    margin-right: auto;
    float: none !important;
    display: block;
  }

  h4 {
    text-align: left;
  }

  .price {
    font-size: 18px;
  }

}

.col-xs-3.col .thumbnail,
.col-xs-4.col .thumbnail,
.col-xs-6.col .thumbnail {
  text-align: center;
}

.col-xs-3.col:nth-of-type(4n+0) .thumbnail,
.col-xs-3.col:last-child .thumbnail,
.col-xs-4.col:nth-of-type(3n+0) .thumbnail,
.col-xs-4.col:last-child .thumbnail,
.col-xs-6.col:nth-of-type(2n+0) .thumbnail,
.col-xs-6.col:last-child .thumbnail,
.col-xs-12.col .thumbnail {
  border-right: 0;
}

.col-xs-6.col-lg-3.col .thumbnail {
  border-right: 1px dashed #B2C8E8;
}

.col-xs-6.col-lg-3.col:nth-of-type(4n+0) .thumbnail,
.col-xs-6.col-lg-3.col:last-child .thumbnail {
  border-right: 0;
}

.col-xs-12.col .thumbnail img {
  display: inline-block;
  float: left;
}

.col-xs-12.col .details > span {
  display: inline-block;
  margin-right: 7px;
}

.col-xs-3.col .thumbnail .col-details p,
.col-xs-4.col .thumbnail .col-details p,
.col-xs-6.col .thumbnail .col-details p,
.col-xs-3.col .thumbnail .col-controls .price,
.col-xs-4.col .thumbnail .col-controls .price,
.col-xs-6.col .thumbnail .col-controls .price,
.col-xs-12.col .thumbnail .col-details .price {
  display: none;
}

/* search results filter table */
#search-results-filter-table {

  .panel {
    background: #F4F7F9;
    border: 0;
    margin: 0;

    a.list-group-item {
      background: #E4ECF1;
      text-transform: uppercase;
      border: 0;
      color: #002C3A;
    }

    .sublinks-inner {
      padding: 7px 10px;
      border-bottom: 1px dashed #B2C8E8;
      font-size: 12px;
      position: relative;

      input {
        margin-top: 0;
      }

      label {
        text-transform: uppercase;
        font-size: 12px;
        margin-top: 0;
      }

      span {
        color: #668089;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translate(0, -50%);
      }

    }

    .sublinks-inner:last-child {
      border-bottom: 0;
    }

  }

}

/* search results header */
.search-results-header {
  border-bottom: 1px dashed #B2C8E8;
  margin-bottom: 30px;

  .search-results-grid-icons {
    font-size: 24px;
    text-align: right;
    margin-top: 10px;

    i {
      margin-left: 7px;
      color: #005774;
    }

    a i {
      color: #B2C8E8;
    }

    a.selected i {
      color: #005774;
      cursor: text;
    }

  }

  /* status filter buttons */
  .search-results-filter {
    padding: 10px 0 0;
  }

  .search-results-filter span.badge {
    text-transform: uppercase;
    background: #e4ecf1;
    font-weight: 700;
    color: #004157;
    cursor: pointer;
    margin-right: 3px;
    font-size: 11px;
  }

  .search-results-filter span.selected,
  .search-results-filter span:hover {
    background: #004157;
    color: $white;
  }

  .search-results-filter span.selected {
    cursor: default;
  }
}

/* xsmall devices*/
@media (max-width: $screen-sm-max) {

  .thumbnail .title h4 {
    text-align: center !important;
  }

}

/* xsmall devices*/
@media (max-width: $screen-xs-max) {
  .thumbnail .price {
    font-size: 12px !important;
    font-weight: 700;
    text-align: center;
  }

  .thumbnail .title h4 a {
    font-size: 11px;
    text-align: center;
  }

  .cart-controls-horizontal {
    margin: 0 auto;
  }
}