.dropdown-menu.open {
  display: block;
}

.dropdown-menu.search-autocomplete {
  padding: 0;
  margin-top: 0;
  width: 99.5%;
  box-shadow: none;
  -webkit-box-shadow: none;
  background: $white;
  border-top: 1px solid #bdc8cc;
  color: $brand-primary;
  text-transform: none;
}

.dropdown-menu.search-autocomplete ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.dropdown-menu.search-autocomplete li {
  padding: 23px 0;
  font-size: 13px;
  color: $brand-default;
  margin: 0;
  border-bottom: 1px dashed #b1c8ea;
}

.dropdown-menu.search-autocomplete li:last-child {
  border-bottom: 0px;
}

.dropdown-menu.search-autocomplete li:hover {
  background: darken($white, 1%);
  cursor: pointer;
}

.dropdown-menu.search-autocomplete img {
  margin-left: 10px;
}

.dropdown-menu.search-autocomplete .product-title a {
  color: lighten($brand-default, 11%);
}

.dropdown-menu.search-autocomplete .text-info {
  color: $brand-info;
}

.dropdown-menu.search-autocomplete .btn {
  text-align: left;
  border: 0;
  border-top: 1px solid #f7a9b0;
  padding: 11px 12px 11px 30px;
}

.dropdown-menu.search-autocomplete .btn:hover {
  background: darken($brand-danger, 5%);
  color: $white
}