/* Signup Page
 ******
 ******/

@mixin placeholder-override {
  color: $white;
  position: relative;
  top: 3px;
  left: 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

body.signup-page {
  background: #002C3A;
  color: white;
  padding-left: 0;
  padding-top: 177px;
}

.signup-page .navbar-twitch-toggle,
.signup-page .navbar-form,
.signup-page .navbar .navbar-right {
  display: none;
}

.signup-page h1 {
  color: $brand-info;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
}

.signup-page .navbar-default {
  box-shadow: 0 3px 0 0 rgba(0,35,46,1);
}

.signup-form {
  margin-top: 62px;
  width: 81%;
  margin-right: auto;
  margin-left: auto;
}

.signup-form .form-control {
  color: $white;
}

.signup-form .form-group {
  position: relative;
  margin-bottom: 29px;
}

.signup-form label {
  position: absolute;
  top: -10px;
  left: 0;
  font-size: 10px;
  color: $brand-info;
  opacity: 1;
  text-transform: uppercase;
  -webkit-transition: .555s ease opacity;
  transition: .555s ease opacity;
}

.signup-form .has-error label {
  color: $brand-danger;
}

.signup-form input {
  background: transparent;
  padding: 0;
  border: 0;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border-bottom: 1px dashed #005774;
  font-size: 12px;
}

.signup-form input:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border-bottom: 1px dashed #005774;
}

.signup-form .has-error .form-control input,
.signup-form .has-error .form-control input:focus {
  border-bottom: 1px dashed $brand-danger;
}

.hide-label label {
  opacity: 0;
}

.unhighlight-label label {
  color: $gray;
}

.signup-form input::-webkit-input-placeholder {
  @include placeholder-override;
}

.signup-form input:-moz-placeholder { /* Firefox 18- */
  @include placeholder-override;
}

.signup-form input::-moz-placeholder {  /* Firefox 19+ */
  @include placeholder-override;
}

.signup-form input:-ms-input-placeholder {
  @include placeholder-override;
}

.signup-form .has-error input::-webkit-input-placeholder {
  color: $brand-danger;
}

.signup-form .has-error input:-moz-placeholder { /* Firefox 18- */
  color: $brand-danger;
}

.signup-form .has-error input::-moz-placeholder {  /* Firefox 19+ */
  color: $brand-danger;
}

.signup-form .has-error input:-ms-input-placeholder {
  color: $brand-danger;
}