.single-product-details {

  .single-product-images {
    height: 100%;
    width: 100%;

    .carousel {
      margin-bottom: 20px;

      .carousel-inner > div > img  {
        border: 1px solid #e2eaf6;
        margin: 0 auto;
      }

    }

    .carousel-wrapper {
      position: relative;
      margin-bottom: 20px;

      .controls,
      .controls .btn{
        height: 40px;
      }

      .controls {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
      }

      .controls.control-prev {
        left: 10px;
      }

      .controls.control-next {
        right: 10px;
      }

      .thumbnail {
        margin: 0 5px;
        border: 0;
        padding: 0;
        background: none;

        img {
          border: 1px solid #e2eaf6;
        }

      }

      .btn.btn-carousel {
        background: none;
      }

      .btn.btn-carousel i {
        font-size: 17px;
        color: #00879e;
      }

    }

  }

  .single-product-content {
    margin-top: 50px;
    margin-bottom: 20px;

    h3 {
      margin: 0 0 20px 0;
      font-size: 18px;
      font-weight: 300;
      color: #002C3A;
    }

    .content {
      color: #005774;
      font-size: 15px;
      font-weight: 400;

      ul {
        color: #668089;
        font-size: 13px;
        padding: 0;
        margin: 15px 0 0 0;

        li {
          list-style: none;
          padding: 0 0 0 13px;
          margin: 0;
          margin-bottom: 2px;
          position: relative;
        }

        li:before {
          position: absolute;
          top: -2px;
          left: 0;
          content: "\0BB \020";
          font-size: 13px;
          color: $link-color;
          margin-right: 5px;
          display: inline-block;
        }

      }

    }

  }

  .single-product-info {

    .heading {
      background: #004157;
      color: $brand-danger;
      padding: 15px 20px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
      border-bottom: 1px dashed #B2C8E8;
    }

    .body {
      background: #F4F7F9;
      height: 65%;
      padding: 10px;

      .price {
        font-size: 34px;
        color: $brand-info;
        font-weight: 300;
        margin: 10px 0 20px 0;
      }

      .details {
        color: #002C3A;
        font-size: 13px;
        font-weight: 400;
      }

      .details > span {
        display: block;

        span {
          color: $brand-danger;
        }

      }

      .vat-price {
        margin-bottom: 15px;
      }

      .stock {
        margin-top: 15px;
        text-transform: uppercase;
        font-size: 12px;
      }

    }

    .footer {
      background: #E4ECF1;
      height: 20%;
      padding: 13px 3px 5px 5px;
      margin: 0;
      width: 100%;
      border-top: 1px dashed #B2C8E8;
    }
  }

}

.single-product-tech-specs {
  margin: 40px 0 30px 0;

  h4 {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #002C3A;
  }

  th {
    color: #005774;
    font-size: 12px;
    font-weight: 400;
    width: 15%;
  }

  .table-bordered > tbody > tr > td {
    color: #668089;
  }

}

.single-product-related-products {

  h4 {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #002C3A;
  }
}