/* Tables
 ******
 ******/

/* status filter buttons */
.status-filter {
  margin-bottom: 8px;
}

.status-filter span.badge {
  text-transform: uppercase;
  background: #e4ecf1;
  font-weight: 700;
  color: #004157;
  cursor: pointer;
  margin-right: 3px;
  font-size: 10px;
}

.status-filter span.selected,
.status-filter span:hover {
  background: #004157;
  color: $white;
}

.status-filter span.selected {
  cursor: default;
}

/* table with dotted borders */
.table-bordered {
  border-top: 1px dashed #b1c8ea;
  border-bottom: 0px;
  border-right: 0;
  border-left: 0;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > tfoot > tr > td {
  border: 1px dashed #b1c8ea;
}

.table-bordered > thead > tr > th:last-child,
.table-bordered > thead > tr > td:last-child,
.table-bordered > tbody > tr > th:last-child,
.table-bordered > tbody > tr > td:last-child, {
  border-right: 0;
}

.table-bordered > thead > tr > th:first-child,
.table-bordered > thead > tr > td:first-child,
.table-bordered > tbody > tr > th:first-child,
.table-bordered > tbody > tr > td:first-child, {
  border-left: 0;
}

th {
  text-transform: uppercase;
  font-size: 10px;
  color: $brand-default;
}

.table-bordered > thead > tr > th {
  //padding-right: 30px;
}

.table-bordered > tbody > tr > td {
  color: #005774;
  font-size: 13px;
}

.table-bordered > tbody > tr > td.text-muted {
  color: #668089;
}

.table-bordered > tbody > tr.no-border-b > td {
  border-bottom-width: 0;
  padding-bottom: 0;
}

.table-bordered > tbody > tr.no-border-t > td {
  border-top-width: 0;
  padding-top: 3px;
}

.table-bordered > tbody > tr.total > td {
  padding: 0;
}

.table-bordered > tbody > tr.total > td > span {
  padding: 10px 5px;
  background: #D6DEE5;
  display: block;
  margin: 3px 0;
}

.table-bordered > tbody > tr.total.orders > td > span {
  background: $brand-danger;
  color: $white;
}

.table-bordered > tbody > tr.total > td {
  color: #005774;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.table-bordered > tbody > tr.total > td {
  border-right-width: 0;
  border-left-width: 0;
}

.table-bordered > tbody > tr.total > td:first-child span {
  padding-left: 10px;
}

.table-bordered > tbody > tr.no-border-b > td {
  border-bottom-width: 0;
}

.table-bordered > tbody > tr.no-border-b > td > span {
  margin-bottom: 0;
}

table.table-bordered.dataTable th {
  border-bottom-width: 1px;
}

table.table-bordered.dataTable tbody td {
  border-bottom-width: 1px;
  border-top-width: 0;
}

/* condensed table with dotted borders */
.table-condensed.table-bordered {
  margin-top: 10px;
}

.table-condensed.table-bordered > thead > tr > th,
.table-condensed.table-bordered > tbody > tr > td, {
  border-left-width: 0;
  border-right-width: 0;
}

.table-condensed.table-bordered > thead > tr > th:first-child,
.table-condensed.table-bordered > tbody > tr > td:first-child,
.table-condensed.table-bordered > tbody > tr > td:first-child span{
  padding-left: 10px;
}

.table-condensed.table-bordered > thead > tr > th:last-child,
.table-condensed.table-bordered > tbody > tr > td:last-child,
.table-condensed.table-bordered > tbody > tr > td:last-child span{
  padding-right: 10px;
}

.table-condensed.table-bordered > tbody > tr.total > td:first-child {
  padding-left: 0;
}

.table-condensed.table-bordered > tbody > tr.total > td:last-child {
  padding-right: 0;
}

.table-condensed.table-bordered > thead > tr > th {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* settings table */
.table-bordered.table-settings {
  border: 0px;
}

.table-bordered.table-settings > tbody > tr > td.text-disabled {
  color: #D6DEE5;
  text-transform: capitalize;
}

.table-bordered.table-settings > tbody tr > td > a.apply-now {
  font-size: 10px;
  font-weight: 700;
}

.table-bordered.table-settings > thead > tr > th {
  border: 0px;
  font-size: 16px;
  color: $brand-info;
  text-transform: capitalize;
  font-weight: 400;
}

.table-bordered.table-settings > thead.index-header > tr > th {
  color: $brand-danger;
  font-size: 14px;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 5px;
}

.table-bordered.table-settings > tbody > tr:first-child > td,
.table-bordered.table-settings > tbody > tr:first-child > th {
  border-top: 0;
}

.table-bordered.table-settings > tbody > tr > td,
.table-bordered.table-settings > tbody > tr > th {
  border-left: 0px;
  border-right: 0px;
  vertical-align: bottom;
  padding-bottom: 2px;
}

.table-bordered.table-settings > tbody > tr > th {
  text-transform: uppercase;
  color: #004157;
  font-size: 10px;
  width: 40%;
}

.table-bordered.table-settings .spacer {
  border: 0;
}

.table-bordered.table-settings > tbody > tr > td {
  color: #668089;
  font-size: 13px;
  text-transform: uppercase;
}

.table-bordered.table-settings > tbody > tr > td.action-btn a {
  margin-right: 20px;
}

/* settings table form */
.table-bordered.table-settings .form-control {
  background: white;
  border: 1px solid white;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 13px;
}

.table-bordered.table-settings .form-control[disabled] {
  cursor: text;
}

.table-bordered.table-settings .form-control:focus {
  border: 1px solid #80ABB9;
}



/* cancelled  orders */
.table-bordered > tbody > tr.cancelled > td {
  background: #eff2f4;
  color: #80ABB9;
}

.table-bordered > tbody > tr.cancelled > td.text-muted {
  color: #B3C0C4;
}

.table-bordered > tbody > tr.cancelled > td.text-cancelled-pink {
  color: #F7A9B0;
}


/* hidden rows */
.table-bordered > tbody > tr.hiddenRow > td {
  background: #F1F6F8;
  color: $brand-info;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom-width: 0;
  border-top-width: 0;
  padding: 5px 0 5px 30px;
}

.table-bordered > tbody > tr.hiddenRow .text-danger {
  color: $brand-danger;
}

/* buttons and icons */
.table-bordered > tbody > tr > td:first-child > a.btn {
  margin: 0 7px 0 0;
  padding: 0;
}

.table-bordered > tbody > tr > td:first-child > a.btn:active,
.table-bordered > tbody > tr > td:first-child > a.btn:focus {
  background: none;
  outline: none;
}

.table-bordered > tbody > tr > td:first-child > a.btn > i {
  font-size: 10px;
  padding-bottom: 3px;
}

/* action buttons */
.action-btn .checkbox {
  margin-left: 7px;
}

.action-btn .btn {
  border: 0;
  font-weight: bold;
  text-transform: uppercase;
  background: transparent;
  font-size: 10px;
}

.action-btn .btn.btn-danger {
  color: $brand-danger;
}

.action-btn .btn.btn-danger:hover {
  color: $white;
  background: $brand-danger;
}

.action-btn .btn.btn-info {
  color: $brand-info;
}

.action-btn .btn.btn-info:hover {
  color: $white;
  background: $brand-info;
}

.action-btn .btn span {
  margin-left: 3px;
}

.action-btn .btn.disabled {
  color: #D6DEE5;
}
