//
// Utils
// --------------------------------------------------

//**   Borders    ********************************************************************************//

// Remove borders
.no-border {
  border-width: 0 !important;
}

// Remove horizontal borders
.no-border-hr {
  border-left-width: 0 !important;
  border-right-width: 0 !important;
}

// Remove vertical borders
.no-border-vr {
  border-top-width: 0 !important;
  border-bottom-width: 0 !important;
}

// Remove top border
.no-border-t {
  border-top-width: 0 !important;
}

// Remove right border
body:not(.right-to-left) .no-border-r {
  border-right-width: 0 !important;
}


// Remove bottom border
.no-border-b {
  border-bottom-width: 0 !important;
}

// Remove left border
body:not(.right-to-left) .no-border-l {
  border-left-width: 0 !important;
}


//**   Margins    ********************************************************************************//

// Remove margins
.no-margin {
  margin: 0 !important;
}

// Remove horizontal margins
.no-margin-hr {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

// Remove vertical margins
.no-margin-vr {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

// Remove bottom margin
.no-margin-b {
  margin-bottom: 0 !important;
}

// Remove top margin
.no-margin-t {
  margin-top: 0 !important;
}

// Add form-group's margin
.form-group-margin {
  margin-bottom: 15px !important;
}


//**   Paddings    *******************************************************************************//

// Reduce padding
.padding-sm {
  padding: 10px 15px !important;
}

// Small horizontal padding
.padding-sm-hr {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

// Extra small horizontal padding
.padding-xs-hr {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

// Small vertical padding
.padding-sm-vr {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

// Extra small vertical padding
.padding-xs-vr {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

// Remove padding
.no-padding {
  padding: 0 !important;
}

// Remove horizontal padding
.no-padding-hr {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

// Remove vertical padding
.no-padding-vr {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

// Remove bottom padding
.no-padding-b {
  padding-bottom: 0 !important;
}

// Remove top padding
.no-padding-t {
  padding-top: 0 !important;
}


//**   Text position    **************************************************************************//

// Left-aligned text
.text-left {
  text-align: left;
}

// Center-aligned text
.text-center {
  text-align: center;
}

// Right-aligned text
.text-right {
  text-align: right;
}

// Responsive
@media (min-width: $screen-xs-min) {
  .text-left-xs   { text-align: left; }
  .text-center-xs { text-align: center; }
  .text-right-xs  { text-align: right; }
}

@media (min-width: $screen-sm-min) { 
  .text-left-sm   { text-align: left; }
  .text-center-sm { text-align: center; }
  .text-right-sm  { text-align: right; }
}

@media (min-width: $screen-md-min) {
  .text-left-md   { text-align: left; }
  .text-center-md { text-align: center; }
  .text-right-md  { text-align: right; }
}

@media (min-width: $screen-lg-min) { 
  .text-left-lg   { text-align: left; }
  .text-center-lg { text-align: center; }
  .text-right-lg  { text-align: right; }
}


//**   Text sizes    *****************************************************************************//

// Extra small text
.text-xs {
  font-size: 11px;
}

// Small text
.text-sm {
  font-size: 12px;
}

// Big text
.text-bg {
  font-size: 17px;
}

// Large text
.text-lg {
  font-size: 23px;
}

// Extra large text
.text-xlg {
  font-size: 30px;
}

// Super large text
.text-slg {
  font-size: 50px;
}

.text-bold {
  font-weight: 700;
}