.walkthrough {

  .modal.in {
    display: block;
  }

  .modal-backdrop.in {
    background-color: $brand-default;
    opacity: 0.7;
  }

  .pointer {
    z-index: 1041;
    color: $white;
    &.enabled {
      display: inline-block;
    }

    p {
      font-family: signpainter;
      text-align: center;
    }
  }

  .blurb {
    position: absolute;
    bottom: 15%;
    width: 100%;
    color: rgba(255, 255, 255, 1);

    p {
      color: rgba(255, 255, 255, 1);
      margin-bottom: 30px;
      font-size: 16px;

      span {
        color: rgba(239, 83, 97, 1);
      }

    }

    div.step {
      display: none;
      &.enabled {
        display: inline-block;
      }
    }

    h1 {
      color: rgba(255, 255, 255, 1);
      text-transform: uppercase;
      font-size: 32px;
      opacity: 1;
      margin-bottom: 20px;

      span {
        color: rgba(0, 145, 167, 1);
        font-weight: 400;
      }
    }

    .controls {

      .btn {
        margin-bottom: 10px;
      }

    }

  }

  .sprite {
    position: relative;
    top: 1px;
    display: inline-block;
    line-height: 1;
    margin-right: 25px;
    margin-bottom: 5px;

    &:before {
      background: url('../img/walkthrough-sprite.png') no-repeat top left;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }

    // Individual icons
    &.sprite-arrow-01 {
      &:before {
        background-position-y: 0px;
        height: 32px;
        width: 87px;
      }
    }
    &.sprite-arrow-02 {
      &:before {
        background-position-y: -38px;
        height: 56px;
        width: 70px;
      }
    }
    &.sprite-arrow-03 {
      &:before {
        background-position-y: -100px;
        height: 69px;
        width: 39px;
      }
    }
  }
  .clip-radio {
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    margin-right: 0 !important;
    padding-left: 0;

  }
  .clip-radio.radio-primary input[type="radio"]:checked + label:before {
    background: $brand-primary;
  }
}

.tether-element.pointer p {
  font-size: 35px;
}

/* Extra Large devices*/
@media (min-width: $screen-lg) {

  .tether-element.pointer.step2 p {
    width: 80%;
  }

  .tether-element.pointer.step3 p {
    width: 80%;
  }

}

/* Large devices*/
@media (max-width: $screen-lg) {

  .tether-element.pointer p {
    font-size: 30px;
  }

  .tether-element.pointer.step2 p {
    width: 80%;
  }

}

/* Medium devices*/
@media (max-width: $screen-md) {

  .tether-element.pointer.step2 p {
    width: 60%;
  }

}

/* Small devices*/
@media (max-width: $screen-sm) {

  .tether-element.pointer.step2 p {
    width: 50%;
  }

}


